article {
	display: flex;
	flex-direction: column;
	align-items: left;
	line-height: 2rem;
}

article a {
	text-decoration: underline;
}

article hr {
	margin: 2rem 0;
	border-top: 2px solid #262626;	
}