---
import { PROJECTS } from "../../assets/logos/projects.ts";
import { Image } from "astro:assets";
import Label from "../Label.astro";
import HeadingLabel from "../HeadingLabel.astro";
---

<style>
  a {
    @apply underline decoration-primary underline-offset-2;
  }
</style>

<HeadingLabel title="App Developer">
  <Image
    src="/images/altar.webp"
    alt="Banner for altar app"
    width={512}
    height={512}
    class="w-full rounded"
  />

  <p>
    Yes, I can also build mobile apps using React Native and Expo. I've built
    apps like <Label {...PROJECTS["feather"]} />, <Label
      {...PROJECTS["altar"]}
    />, and <Label {...PROJECTS["commit"]} />. Altar and Commit were great
    exercises for the mind, as I incorporated React Query for efficient queries,
    a mini design system for uniform designs across entire application, proper
    authentication and even animations. Commit is evolving rapidly, and I'm
    excited to turn it into a full-fledged app soon.
  </p><p>
    Web version of feather is also <a href="https://feather-roan.vercel.app/"
      >available here</a
    >. However, It has limited set of features and capabilities.
  </p>
  <ul class="flex flex-wrap gap-2 [&_svg]:size-5">
    <li class="w-full">Tools used:</li>
    <li
      class="inline-flex items-center gap-1 rounded-md bg-neutral-100 px-2 py-1.5 text-sm font-medium text-neutral-800"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="100"
        height="100"
        viewBox="0 0 50 50"
      >
        <path
          d="M23.799,20.071c0.375-0.547,0.787-0.618,1.122-0.618c0.333,0,0.889,0.071,1.264,0.618 c4.895,6.668,15.047,24.257,15.985,25.215c1.39,1.419,3.298,0.535,4.406-1.074c1.093-1.585,1.395-2.697,1.395-3.883 c0-0.808-15.81-29.975-17.404-32.403C29.036,5.589,28.537,5,25.918,5h-1.96c-2.614,0-2.992,0.589-4.522,2.923 c-1.597,2.433-17.406,31.6-17.406,32.408c0,1.188,0.302,2.298,1.395,3.883c1.107,1.609,3.016,2.495,4.406,1.074 c0.939-0.958,11.076-18.547,15.969-25.213L23.799,20.071z"
        ></path>
      </svg>

      <p>Expo</p>
    </li>
    <li
      class="inline-flex items-center gap-1 rounded-md bg-zinc-800 px-2 py-1.5 text-sm font-medium text-zinc-100"
    >
      <svg
        width="101"
        height="100"
        viewBox="0 0 101 100"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="reactjs">
          <g id="reactjs_2">
            <path
              id="Vector"
              d="M50.3067 58.8168C55.1757 58.8168 59.1229 54.8697 59.1229 50.0006C59.1229 45.1315 55.1757 41.1844 50.3067 41.1844C45.4376 41.1844 41.4904 45.1315 41.4904 50.0006C41.4904 54.8697 45.4376 58.8168 50.3067 58.8168Z"
              fill="#61DAFB"></path>
            <path
              id="Vector_2"
              d="M50.3066 68.0631C76.4333 68.0631 97.6132 59.9762 97.6132 50.0005C97.6132 40.0249 76.4333 31.938 50.3066 31.938C24.1799 31.938 3 40.0249 3 50.0005C3 59.9762 24.1799 68.0631 50.3066 68.0631Z"
              stroke="#61DAFB"
              stroke-width="5"></path>
            <path
              id="Vector_3"
              d="M34.664 59.0318C47.7274 81.6582 65.3207 95.9571 73.9599 90.9692C82.5991 85.9814 79.0126 63.5957 65.9492 40.9693C52.8858 18.3428 35.2925 4.04395 26.6533 9.03178C18.0141 14.0196 21.6006 36.4054 34.664 59.0318Z"
              stroke="#61DAFB"
              stroke-width="5"></path>
            <path
              id="Vector_4"
              d="M34.664 40.9692C21.6007 63.5956 18.0141 85.9814 26.6533 90.9692C35.2925 95.957 52.8859 81.6582 65.9492 59.0318C79.0126 36.4053 82.5991 14.0196 73.9599 9.03176C65.3208 4.04393 47.7274 18.3428 34.664 40.9692Z"
              stroke="#61DAFB"
              stroke-width="5"></path>
          </g>
        </g>
      </svg>

      <p>React Native</p>
    </li>
  </ul>
</HeadingLabel>
