---
import { Image } from "astro:assets";
import HeadingLabel from "../HeadingLabel.astro";
---

<style>
  a {
    @apply underline decoration-primary underline-offset-2;
  }
</style>

<HeadingLabel title="Design Angle">
  <Image
    src="/images/ui.webp"
    alt="Banner for altar app"
    width={512}
    height={512}
    class="w-full rounded"
  />

  <span>
    <p>
      I also design my own apps and website. Also, Figma is the fantastic tool
      for designing. Here are few designs I've made:
    </p>

    <ol class="mt-4 list-decimal space-y-2 pl-4">
      <li>
        <a
          href="https://www.figma.com/design/alG7S21oTVDPkgxx0FJccE/Commit?node-id=0-1&t=HcJyqvgYusHMSJi4-1"
          >Commit - A daily task management tool (Case Study)</a
        >
      </li>
      <li>
        <a
          href="https://www.figma.com/design/0Csmy0tfF1hbiNkCdPQlb0/Poetizer-Alternative---Altar?node-id=0-1&t=HcJyqvgYusHMSJi4-1"
          >Altar - An Poetizer Alternative</a
        >
      </li>
      <li>
        <a
          href="https://www.figma.com/design/kDUnthgR8RayILLLICxQCI/Portfolio?node-id=0-1&t=HcJyqvgYusHMSJi4-1"
          >Portfolio Design</a
        >
      </li>
    </ol>
  </span>

  <ul class="grid grid-cols-1 gap-2 md:grid-cols-2">
    <li>
      <a href="https://commit-neon.vercel.app/">
        <Image
          src="/images/commit.webp"
          alt=""
          width={512}
          height={512}
          class="w-full rounded"
        />
      </a>
    </li>
    <li>
      <a href="https://go-north.vercel.app/">
        <Image
          src="/images/go-north.webp"
          alt=""
          width={512}
          height={512}
          class="w-full rounded"
        />
      </a>
    </li>
  </ul>

  <p>
    During my previous internship at Frontend-Hire, I engineered websites and
    designed engaging course banners. I ensured brand consistency by capturing
    the brand essence and replicating core design principles.
  </p>

  <p>Here are a few designs I created for YouTube channels:</p>

  <ul class="grid grid-cols-1 gap-2 md:grid-cols-2">
    <li>
      <Image
        src="/images/thumb-1.webp"
        alt=""
        width={512}
        height={512}
        class="w-full rounded"
      />
    </li>
    <li>
      <a href="https://www.youtube.com/@abhijeet19403">
        <Image
          src="/images/thumb-2.webp"
          alt=""
          width={512}
          height={512}
          class="w-full rounded"
        />
      </a>
    </li>
  </ul>

  <!-- <p>
    I once created my entire portfolio in an anime style. Beyond its usefulness,
    it served as a great design piece.
  </p>

  <Image
    src="/images/anime.webp"
    alt=""
    width={512}
    height={512}
    class="w-full rounded"
  /> -->

  <ul class="flex flex-wrap gap-2 [&_svg]:size-5">
    <li class="w-full">Tools used:</li>
    <li
      class="inline-flex items-center gap-1 rounded-md bg-emerald-100 px-2 py-1.5 text-sm font-medium text-emerald-800"
    >
      <svg
        width="100"
        height="100"
        viewBox="0 0 100 100"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="figma">
          <g id="figma_2">
            <path
              id="Vector"
              d="M33.3334 100.001C42.5334 100.001 50.0001 92.5339 50.0001 83.3339V66.6672H33.3334C24.1334 66.6672 16.6667 74.1339 16.6667 83.3339C16.6667 92.5339 24.1334 100.001 33.3334 100.001Z"
              fill="#0ACF83"></path>
            <path
              id="Vector_2"
              d="M16.6667 50.0004C16.6667 40.8004 24.1334 33.3337 33.3334 33.3337H50.0001V66.667H33.3334C24.1334 66.667 16.6667 59.2004 16.6667 50.0004Z"
              fill="#A259FF"></path>
            <path
              id="Vector_3"
              d="M16.6667 16.6671C16.6667 7.46715 24.1334 0.000488281 33.3334 0.000488281H50.0001V33.3338H33.3334C24.1334 33.3338 16.6667 25.8671 16.6667 16.6671Z"
              fill="#F24E1E"></path>
            <path
              id="Vector_4"
              d="M50 0.000488281H66.6667C75.8667 0.000488281 83.3334 7.46715 83.3334 16.6671C83.3334 25.8671 75.8667 33.3338 66.6667 33.3338H50V0.000488281Z"
              fill="#FF7262"></path>
            <path
              id="Vector_5"
              d="M83.3334 50.0004C83.3334 59.2004 75.8667 66.667 66.6667 66.667C57.4667 66.667 50 59.2004 50 50.0004C50 40.8004 57.4667 33.3337 66.6667 33.3337C75.8667 33.3337 83.3334 40.8004 83.3334 50.0004Z"
              fill="#1ABCFE"></path>
          </g>
        </g>
      </svg>

      <p>Figma</p>
    </li>

    <li
      class="inline-flex items-center gap-1 rounded-md bg-neutral-100 px-2 py-1.5 text-sm font-medium text-neutral-800"
    >
      <svg
        width="114"
        height="112"
        viewBox="0 0 114 112"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="inkspace">
          <g id="inkspace_2">
            <g id="g6035" opacity="0.783251">
              <g id="path5987" filter="url(#filter0_f_790_985)">
                <path
                  d="M48.0874 9.21208L11.3791 46.8114C-2.52019 60.7106 20.378 59.5524 28.6641 64.8091C32.4953 67.3039 16.3686 70.5114 19.6652 73.808C22.8727 77.1046 38.9994 80.134 42.2069 83.3415C45.4145 86.6381 35.7028 90.1129 38.9103 93.4096C42.0287 96.7062 49.513 93.5878 50.8494 101.072C51.8295 106.596 64.5705 103.834 70.2728 99.1118C73.8367 96.0825 64.125 96.0825 67.3325 92.7859C75.3513 84.678 82.4792 89.1329 85.4194 81.6486C87.0232 77.6392 73.3021 74.7881 76.9551 72.2043C85.6867 66.0565 117.762 62.9381 102.972 48.1478L64.9269 9.21208C60.2047 4.75719 52.4532 4.75719 48.0874 9.21208ZM90.2307 81.6486C90.2307 83.5197 104.754 84.5889 103.952 81.2031C102.793 75.5009 91.8344 75.9464 90.2307 81.6486ZM28.3077 91.5385C31.6043 94.3896 36.5938 90.9148 38.1975 86.9054C34.99 82.7178 23.14 87.1727 28.3077 91.5385ZM88.4487 85.5689C84.3502 89.3111 89.1615 93.2314 93.1709 90.6475C94.2401 89.9347 93.0818 86.4599 88.4487 85.5689Z"
                  fill="black"></path>
              </g>
              <g
                id="path6021"
                opacity="0.576355"
                filter="url(#filter1_f_790_985)"
              >
                <path
                  d="M48.0874 10.0822L11.3791 47.6815C-2.52019 61.5808 20.378 60.4225 28.6641 65.6793C32.4953 68.174 16.3686 71.3815 19.6652 74.6781C22.8727 77.9748 38.9994 81.0041 42.2069 84.2116C45.4145 87.5082 35.7028 90.9831 38.9103 94.2797C42.0287 97.5763 49.513 94.4579 50.8494 101.942C51.8295 107.466 64.5705 104.704 70.2728 99.9819C73.8367 96.9526 64.125 96.9526 67.3325 93.656C75.3513 85.5481 82.4792 90.003 85.4194 82.5188C87.0232 78.5094 73.3021 75.6582 76.9551 73.0744C85.6867 66.9266 117.762 63.8082 102.972 49.018L64.9269 10.0822C60.2047 5.6273 52.4532 5.6273 48.0874 10.0822ZM90.2307 82.5188C90.2307 84.3898 104.754 85.459 103.952 82.0733C102.793 76.371 91.8344 76.8165 90.2307 82.5188ZM28.3077 92.4086C31.6043 95.2598 36.5938 91.785 38.1975 87.7755C34.99 83.5879 23.14 88.0428 28.3077 92.4086ZM88.4487 86.4391C84.3502 90.1812 89.1615 94.1015 93.1709 91.5177C94.2401 90.8049 93.0818 87.33 88.4487 86.4391Z"
                  fill="black"></path>
              </g>
            </g>
            <path
              id="use7631"
              d="M48.0874 8.3408L11.3791 45.9401C-2.52019 59.8394 20.378 58.6811 28.6641 63.9379C32.4953 66.4326 16.3686 69.6401 19.6652 72.9367C22.8727 76.2334 38.9994 79.2627 42.2069 82.4702C45.4145 85.7668 35.7028 89.2417 38.9103 92.5383C42.0287 95.8349 49.513 92.7165 50.8494 100.201C51.8295 105.725 64.5705 102.963 70.2728 98.2405C73.8367 95.2112 64.125 95.2112 67.3325 91.9146C75.3513 83.8067 82.4792 88.2616 85.4194 80.7774C87.0232 76.768 73.3021 73.9168 76.9551 71.333C85.6867 65.1852 117.762 62.0668 102.972 47.2766L64.9269 8.3408C60.2047 3.88591 52.4532 3.88591 48.0874 8.3408ZM90.2307 80.7774C90.2307 82.6484 104.754 83.7176 103.952 80.3319C102.793 74.6296 91.8344 75.0751 90.2307 80.7774ZM28.3077 90.6672C31.6043 93.5183 36.5938 90.0435 38.1975 86.0341C34.99 81.8465 23.14 86.3014 28.3077 90.6672ZM88.4487 84.6977C84.3502 88.4398 89.1615 92.3601 93.1709 89.7762C94.2401 89.0635 93.0818 85.5886 88.4487 84.6977Z"
              fill="black"></path>
            <g id="Clip path group">
              <mask
                id="mask0_790_985"
                style="mask-type:luminance"
                maskUnits="userSpaceOnUse"
                x="7"
                y="5"
                width="100"
                height="98"
              >
                <g id="clipPath9086-1">
                  <path
                    id="use9088-0"
                    d="M48.1708 8.77411L11.8096 46.0179C-1.95824 59.7857 20.7234 58.6384 28.9311 63.8455C32.7261 66.3166 16.7519 69.4938 20.0173 72.7593C23.1945 76.0247 39.1688 79.0254 42.346 82.2026C45.5231 85.468 35.9033 88.91 39.0805 92.1754C42.1694 95.4409 49.5829 92.3519 50.9067 99.7654C51.8775 105.237 64.498 102.501 70.1464 97.8238C73.6766 94.8231 64.0568 94.8231 67.234 91.5576C75.1769 83.5264 82.2374 87.9392 85.1498 80.5257C86.7384 76.5542 73.1471 73.7301 76.7655 71.1707C85.4146 65.081 117.186 61.9921 102.536 47.3417L64.8511 8.77411C60.1735 4.36135 52.4953 4.36135 48.1708 8.77411ZM39.4335 65.8753C40.2278 65.8753 66.6162 69.4056 56.4668 72.1415C52.5836 73.2005 34.756 65.8753 39.4335 65.8753ZM89.9156 80.5257C89.9156 82.3791 104.301 83.4382 103.507 80.0844C102.36 74.4361 91.5042 74.8774 89.9156 80.5257ZM28.5781 90.3221C31.8436 93.1462 36.7859 89.7043 38.3745 85.7328C35.1973 81.5848 23.4593 85.9976 28.5781 90.3221ZM88.1505 84.409C84.0907 88.1157 88.8565 91.9989 92.828 89.4395C93.8871 88.7335 92.7398 85.2915 88.1505 84.409Z"
                    fill="white"></path>
                </g>
              </mask>
              <g mask="url(#mask0_790_985)">
                <path
                  id="use7641"
                  d="M48.1708 8.77411L11.8096 46.0179C-1.95824 59.7857 20.7234 58.6384 28.9311 63.8455C32.7261 66.3166 16.7519 69.4938 20.0173 72.7593C23.1945 76.0247 39.1688 79.0254 42.346 82.2026C45.5231 85.468 35.9033 88.91 39.0805 92.1754C42.1694 95.4409 49.5829 92.3519 50.9067 99.7654C51.8775 105.237 64.498 102.501 70.1464 97.8238C73.6766 94.8231 64.0568 94.8231 67.234 91.5576C75.1769 83.5264 82.2374 87.9392 85.1498 80.5257C86.7384 76.5542 73.1471 73.7301 76.7655 71.1707C85.4146 65.081 117.186 61.9921 102.536 47.3417L64.8511 8.77411C60.1735 4.36135 52.4953 4.36135 48.1708 8.77411ZM39.4335 65.8753C40.2278 65.8753 66.6162 69.4056 56.4668 72.1415C52.5836 73.2005 34.756 65.8753 39.4335 65.8753ZM89.9156 80.5257C89.9156 82.3791 104.301 83.4382 103.507 80.0844C102.36 74.4361 91.5042 74.8774 89.9156 80.5257ZM28.5781 90.3221C31.8436 93.1462 36.7859 89.7043 38.3745 85.7328C35.1973 81.5848 23.4593 85.9976 28.5781 90.3221ZM88.1505 84.409C84.0907 88.1157 88.8565 91.9989 92.828 89.4395C93.8871 88.7335 92.7398 85.2915 88.1505 84.409Z"
                  fill="url(#paint0_linear_790_985)"></path>
              </g>
            </g>
            <path
              id="path7643"
              opacity="0.505263"
              d="M14.6447 48.0248C4.66404 57.9155 22.1977 55.1281 35.6851 60.4332L63.5591 11.4289C59.333 7.11291 53.9381 7.47258 50.0717 11.4289L14.6447 48.0248Z"
              fill="url(#paint1_linear_790_985)"></path>
            <path
              id="icecap"
              d="M62.6995 11.014L77.2224 25.8042C78.5589 27.1407 78.5589 29.9027 77.757 30.7046L70.5401 24.8242L69.1145 33.4667L63.145 30.2591L53.4333 36.4069L50.2258 23.4877L45.0581 34.714L32.1389 34.6249C29.6442 34.6249 30.0006 32.0411 32.5844 29.4573C37.663 23.8441 47.5529 14.3106 50.6713 11.014C53.8788 7.71738 59.492 7.80647 62.6995 11.014Z"
              fill="url(#paint2_linear_790_985)"></path>
            <path
              id="path8566"
              opacity="0.216749"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M42.7665 80.8837C42.7665 80.8837 44.3429 83.2907 44.1822 84.423C43.8669 86.645 39.0812 87.7539 40.1415 89.7319C41.1891 91.6861 44.965 90.5785 48.1344 92.6223C51.2903 94.6574 50.4418 98.805 52.7355 99.8484C57.2088 101.883 68.9572 96.3386 68.3673 96.4565C67.7775 96.5745 56.7726 98.8611 54.2951 96.8555C51.4703 94.5688 50.6604 92.9716 48.5768 91.6195C46.6243 90.3525 43.8815 89.8355 43.2431 88.7982C42.6047 87.7608 44.5216 86.4223 44.6541 84.423C44.7337 83.2222 42.7665 80.8837 42.7665 80.8837Z"
              fill="url(#paint3_radial_790_985)"></path>
            <g
              id="path8718"
              opacity="0.275862"
              filter="url(#filter2_f_790_985)"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M42.7665 80.8837C42.7665 80.8837 44.3429 83.2907 44.1822 84.423C43.8669 86.645 39.0812 87.7539 40.1415 89.7319C41.1891 91.6861 44.965 90.5785 48.1344 92.6223C51.2903 94.6574 50.4418 98.805 52.7355 99.8484C57.2088 101.883 68.9572 96.3386 68.3673 96.4565C48.859 96.5308 52.4996 91.5041 44.9785 88.1982C43.8917 87.7205 44.5216 86.4223 44.6541 84.423C44.7337 83.2222 42.7665 80.8837 42.7665 80.8837Z"
                fill="url(#paint4_radial_790_985)"></path>
            </g>
            <path
              id="path8736"
              opacity="0.453202"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M75.9178 70.62C93.4273 64.1763 99.0523 63.291 104.822 57.5246C98.1395 63.1656 84.0117 66.1915 72.4965 71.2099L75.9178 70.62Z"
              fill="url(#paint5_radial_790_985)"></path>
            <g
              id="path8746"
              opacity="0.512315"
              filter="url(#filter3_f_790_985)"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M75.9178 69.7936C104.753 59.5747 99.8782 59.6332 104.822 56.6982C95.654 60.2076 78.5206 60.5819 72.4965 70.3835L75.9178 69.7936Z"
                fill="url(#paint6_radial_790_985)"></path>
            </g>
            <path
              id="path8864"
              opacity="0.285714"
              d="M101.106 77.9634C101.106 78.2685 100.711 78.5611 100.009 78.7768C99.3062 78.9925 98.3534 79.1137 97.36 79.1137C96.3666 79.1137 95.4138 78.9925 94.7114 78.7768C94.0089 78.5611 93.6143 78.2685 93.6143 77.9634C93.6143 77.6584 94.0089 77.3658 94.7114 77.1501C95.4138 76.9344 96.3666 76.8132 97.36 76.8132C98.3534 76.8132 99.3062 76.9344 100.009 77.1501C100.711 77.3658 101.106 77.6584 101.106 77.9634Z"
              fill="url(#paint7_linear_790_985)"></path>
            <g
              id="path8874"
              opacity="0.620689"
              filter="url(#filter4_f_790_985)"
            >
              <path
                d="M102.404 79.2907C102.404 79.9477 101.872 80.5779 100.926 81.0425C99.9805 81.5072 98.6976 81.7682 97.36 81.7682C96.0224 81.7682 94.7396 81.5072 93.7937 81.0425C92.8479 80.5779 92.3165 79.9477 92.3165 79.2907C92.3165 78.6336 92.8479 78.0034 93.7937 77.5388C94.7396 77.0742 96.0224 76.8132 97.36 76.8132C98.6976 76.8132 99.9805 77.0742 100.926 77.5388C101.872 78.0034 102.404 78.6336 102.404 79.2907Z"
                fill="url(#paint8_linear_790_985)"></path>
            </g>
            <g id="path8914" filter="url(#filter5_f_790_985)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M90.4879 80.6676C92.2668 82.3119 102.17 83.1556 103.79 80.1957C100.611 82.4533 93.5415 81.6599 90.4879 80.6676Z"
                fill="url(#paint9_radial_790_985)"></path>
            </g>
            <path
              id="path8984"
              opacity="0.285714"
              d="M90.523 86.156C90.6096 86.3264 90.6647 86.5107 90.6851 86.6983C90.7055 86.886 90.6909 87.0734 90.642 87.2498C90.5932 87.4262 90.5111 87.5881 90.4004 87.7262C90.2897 87.8644 90.1526 87.9761 89.997 88.0551C89.8413 88.134 89.6702 88.1785 89.4933 88.1861C89.3164 88.1938 89.1373 88.1643 88.9661 88.0995C88.795 88.0347 88.6352 87.9357 88.4959 87.8083C88.3565 87.6809 88.2404 87.5276 88.1541 87.357C88.0675 87.1866 88.0125 87.0023 87.992 86.8147C87.9716 86.627 87.9862 86.4396 88.0351 86.2632C88.0839 86.0868 88.1661 85.9249 88.2767 85.7868C88.3874 85.6486 88.5245 85.5369 88.6802 85.4579C88.8358 85.379 89.007 85.3345 89.1838 85.3269C89.3607 85.3192 89.5398 85.3487 89.711 85.4135C89.8821 85.4783 90.0419 85.5773 90.1813 85.7047C90.3206 85.8321 90.4367 85.9854 90.523 86.156Z"
              fill="url(#paint10_linear_790_985)"></path>
            <g
              id="path8986"
              opacity="0.620689"
              filter="url(#filter6_f_790_985)"
            >
              <path
                d="M91.2252 86.4741C91.3546 86.7289 91.4379 87.0039 91.4705 87.2834C91.5031 87.563 91.4843 87.8416 91.4152 88.1033C91.346 88.3649 91.2279 88.6046 91.0676 88.8086C90.9072 89.0125 90.7078 89.1768 90.4806 89.292C90.2535 89.4071 90.0031 89.4709 89.7438 89.4797C89.4845 89.4885 89.2214 89.4422 88.9694 89.3433C88.7175 89.2444 88.4816 89.095 88.2754 88.9035C88.0692 88.7119 87.8966 88.4822 87.7675 88.2272C87.6381 87.9724 87.5548 87.6974 87.5222 87.4178C87.4896 87.1383 87.5084 86.8597 87.5775 86.598C87.6466 86.3363 87.7648 86.0967 87.9251 85.8927C88.0855 85.6887 88.2849 85.5245 88.512 85.4093C88.7392 85.2942 88.9896 85.2304 89.2489 85.2215C89.5082 85.2127 89.7713 85.2591 90.0233 85.358C90.2752 85.4569 90.5111 85.6063 90.7173 85.7978C90.9235 85.9893 91.0961 86.2191 91.2252 86.4741Z"
                fill="url(#paint11_linear_790_985)"></path>
            </g>
            <g id="path8988" filter="url(#filter7_f_790_985)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M88.0588 89.4794C89.4883 90.5981 94.8688 90.7414 92.8276 87.4899C93.3599 90.0365 89.6851 89.7673 88.0588 89.4794Z"
                fill="url(#paint12_radial_790_985)"></path>
            </g>
            <path
              id="path8996"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M21.6487 72.6253C21.6487 72.3324 39.9805 78.212 43.1204 81.3555C40.5385 78.8363 27.4722 73.0424 25.483 72.9792C23.4938 72.916 21.8847 72.7433 21.6487 72.6253Z"
              fill="url(#paint13_radial_790_985)"></path>
            <g id="g9018">
              <path
                id="path9006"
                opacity="0.285714"
                d="M35.42 85.2186C35.4914 85.4309 35.2129 85.7107 34.6458 85.9963C34.0788 86.282 33.2697 86.5503 32.3964 86.742C31.5232 86.9337 30.6574 87.0333 29.9895 87.0187C29.3215 87.0042 28.9062 86.8767 28.8349 86.6644C28.7636 86.4521 29.042 86.1723 29.6091 85.8866C30.1761 85.6009 30.9852 85.3327 31.8585 85.141C32.7317 84.9492 33.5975 84.8497 34.2655 84.8643C34.9334 84.8788 35.3487 85.0063 35.42 85.2186Z"
                fill="url(#paint14_linear_790_985)"></path>
              <g
                id="path9008"
                opacity="0.620689"
                filter="url(#filter8_f_790_985)"
              >
                <path
                  d="M36.8711 85.8917C37.0247 86.349 36.705 86.8901 35.9823 87.396C35.2595 87.9019 34.1929 88.3311 33.0171 88.5893C31.8413 88.8474 30.6527 88.9134 29.7126 88.7726C28.7726 88.6318 28.1581 88.2958 28.0045 87.8385C27.8508 87.3812 28.1706 86.8401 28.8933 86.3342C29.6161 85.8283 30.6827 85.3991 31.8585 85.1409C33.0343 84.8828 34.2229 84.8169 35.163 84.9577C36.103 85.0985 36.7174 85.4345 36.8711 85.8917Z"
                  fill="url(#paint15_linear_790_985)"></path>
              </g>
            </g>
            <g
              id="path9038"
              opacity="0.615764"
              filter="url(#filter9_f_790_985)"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M27.5181 88.1985C27.5181 88.1985 28.5107 90.8652 31.2343 91.0005C33.9897 91.1373 37.1347 87.6938 37.3986 86.4584C36.9267 87.5202 34.2886 90.7212 30.8804 90.676C28.9456 90.6504 27.5181 88.1985 27.5181 88.1985Z"
                fill="url(#paint16_radial_790_985)"></path>
            </g>
            <g id="87235" filter="url(#filter10_f_790_985)">
              <path
                d="M56.3791 6.30829C53.6186 6.30829 50.9133 7.308 49.0006 9.25965L12.3035 46.8478C8.94837 50.2029 8.14238 52.3992 8.34974 53.6415C8.45343 54.2627 8.75835 54.8025 9.40778 55.3678C10.0572 55.9331 11.0396 56.4872 12.2199 56.9827C14.5806 57.9737 17.76 58.7719 20.8791 59.6278C23.9983 60.4837 27.0534 61.3871 29.3713 62.8576C29.7247 63.0877 30.0565 63.3712 30.2901 63.7764C30.5237 64.1816 30.6057 64.7174 30.5128 65.1686C30.3271 66.071 29.7715 66.5469 29.2042 66.9784C28.0696 67.8413 26.5106 68.5583 24.9442 69.3172C23.3779 70.0761 21.8036 70.8525 21.0183 71.4889C20.6257 71.8071 20.4837 72.0931 20.4893 72.0736C20.495 72.0541 20.3852 71.8303 20.5729 72.018C21.0645 72.5232 22.599 73.3884 24.5544 74.1619C26.5098 74.9353 28.903 75.7172 31.3203 76.5007C33.7376 77.2842 36.1828 78.0599 38.2532 78.8674C40.3236 79.6748 42.0111 80.4256 43.1258 81.5403C43.6805 82.1105 44.0725 82.8197 44.1559 83.545C44.2394 84.2703 44.043 84.951 43.7661 85.5218C43.2125 86.6636 42.3225 87.5419 41.5109 88.3897C40.6992 89.2375 39.9639 90.0472 39.7011 90.5893C39.5696 90.8603 39.5493 91.0369 39.5618 91.1461C39.5744 91.2554 39.5932 91.3655 39.8403 91.6195C39.8497 91.6286 39.859 91.6379 39.8681 91.6473C40.9316 92.7716 43.2422 92.9297 45.8544 93.5407C47.1604 93.8462 48.5263 94.3086 49.6967 95.3226C50.8671 96.3366 51.7455 97.8802 52.1191 99.9724C52.2763 100.859 52.7452 101.29 53.8732 101.643C55.0012 101.996 56.7193 102.058 58.6065 101.782C62.3809 101.231 66.857 99.3807 69.4375 97.2438C69.5978 97.1075 69.5532 97.1435 69.6045 97.0767C69.4309 96.9525 69.0239 96.6878 68.3516 96.3528C67.5572 95.957 66.6189 95.587 65.9014 94.6822C65.5426 94.2299 65.2956 93.5156 65.4002 92.8167C65.5048 92.1178 65.8874 91.5364 66.4026 91.0069C70.6309 86.7316 74.7973 85.7108 77.9296 84.8815C79.4957 84.4668 80.8068 84.0874 81.7998 83.4615C82.7927 82.8355 83.5684 81.9791 84.2221 80.3152C84.2942 80.1351 84.2921 80.0828 84.1943 79.8697C84.0965 79.6566 83.8339 79.3158 83.4147 78.9509C82.5762 78.2211 81.1779 77.4369 79.7951 76.6677C78.4122 75.8986 77.0683 75.1814 76.092 74.2732C75.6038 73.8192 75.0923 73.2472 75.0339 72.3799C74.9756 71.5127 75.5441 70.7301 76.2033 70.2638C78.6497 68.5414 82.3478 67.2301 86.366 65.8368C90.3843 64.4434 94.7066 63.0016 98.2272 61.3541C101.748 59.7065 104.337 57.8091 105.16 55.8968C105.572 54.9406 105.647 53.9735 105.216 52.7227C104.784 51.4719 103.8 49.9421 102.042 48.1843L64.0359 9.2875C64.0264 9.2785 64.0176 9.26862 64.0081 9.25965C61.9074 7.29261 59.1269 6.30829 56.3791 6.30829ZM97.3084 77.5866C94.9605 77.6713 92.8005 78.7461 91.879 80.4266C92.1408 80.525 92.3765 80.6359 92.7978 80.7328C94.0234 81.0148 95.734 81.1968 97.4198 81.234C99.1055 81.2712 100.791 81.1293 101.819 80.8442C102.269 80.7194 102.507 80.5932 102.626 80.5101C102.398 79.5379 101.856 78.851 100.928 78.3383C99.967 77.8074 98.65 77.5381 97.3084 77.5866ZM34.4944 85.6611C32.6324 85.5316 30.2921 86.2728 29.1485 87.1924C28.5768 87.6523 28.3348 88.0784 28.3132 88.3618C28.2916 88.6453 28.3821 89.0229 29.1485 89.6705C29.1486 89.6797 29.1486 89.689 29.1485 89.6983C30.3538 90.7407 31.7166 90.632 33.2693 89.7817C34.571 89.069 35.7259 87.7318 36.4991 86.3292C35.9778 85.993 35.3546 85.7209 34.4944 85.6611ZM88.8441 86.2179C88.4455 86.7245 88.2285 87.1962 88.2037 87.5265C88.1694 87.9825 88.2987 88.3349 88.6492 88.6681C89.3061 89.2927 90.7333 89.5616 92.1853 88.7795C92.1566 88.611 92.1021 88.3555 91.879 88.0277C91.4336 87.3736 90.3923 86.6689 88.8441 86.2179Z"
                stroke="url(#paint17_radial_790_985)"
                stroke-width="0.435071"></path>
            </g>
            <g
              id="path5897"
              opacity="0.325123"
              filter="url(#filter11_f_790_985)"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M36.2578 65.1714C34.043 65.8249 26.8637 68.5376 27.8826 70.6098C28.8588 72.5949 45.5515 73.3949 48.1134 79.3112C49.2307 81.8913 45.5498 83.8374 46.4819 86.4899C47.1997 88.5325 52.7521 93.6646 56.2649 96.091C59.0202 97.9941 62.6391 94.5585 61.1656 91.7108C58.818 87.174 69.1894 81.6175 73.8914 79.0937C76.6346 77.6213 68.2355 70.3923 68.2355 70.3923L36.2578 65.1714Z"
                fill="url(#paint18_linear_790_985)"></path>
            </g>
            <path
              id="path5783"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M37.0768 67.1749C39.0654 68.6354 42.99 67.7545 45.347 68.8158C51.0043 71.3633 57.9588 74.2022 56.679 69.1763L55.2394 70.372L55.2113 68.0933L51.8683 68.9097C51.8683 68.9097 49.279 66.8313 48.0919 66.1459C47.8439 66.0027 46.5704 67.2978 46.5704 67.2978L46.3414 65.9223C44.6865 65.7462 43.0482 65.6685 41.6057 65.6801C38.1479 65.7078 35.8152 66.2483 37.0768 67.1749Z"
              fill="url(#paint19_linear_790_985)"></path>
            <g
              id="path5803"
              opacity="0.477832"
              filter="url(#filter12_f_790_985)"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M74.2177 71.8059C73.4521 74.6244 83.6273 78.4537 82.8647 80.3986C81.1858 84.6803 71.9984 81.7636 64.9725 90.7315C63.9661 92.016 66.3864 96.6049 66.0601 96.0611C65.7338 95.5173 63.2474 91.7266 63.8848 89.8613C65.8836 84.0117 85.2088 81.831 81.6683 79.039C79.6322 77.4333 72.3119 72.997 74.2177 71.8059Z"
                fill="url(#paint20_radial_790_985)"></path>
            </g>
            <path
              id="path6041"
              opacity="0.586207"
              d="M97.1133 77.5985C97.1133 77.7211 96.9958 77.8387 96.7867 77.9254C96.5777 78.0121 96.2941 78.0608 95.9984 78.0608C95.7027 78.0608 95.4192 78.0121 95.2101 77.9254C95.001 77.8387 94.8835 77.7211 94.8835 77.5985C94.8835 77.4759 95.001 77.3583 95.2101 77.2716C95.4192 77.1849 95.7027 77.1362 95.9984 77.1362C96.2941 77.1362 96.5777 77.1849 96.7867 77.2716C96.9958 77.3583 97.1133 77.4759 97.1133 77.5985Z"
              fill="white"></path>
            <path
              id="path6043"
              opacity="0.586207"
              d="M89.6628 86.1365C89.6628 86.2591 89.5883 86.3766 89.4557 86.4633C89.3231 86.55 89.1433 86.5987 88.9558 86.5987C88.7683 86.5987 88.5884 86.55 88.4559 86.4633C88.3233 86.3766 88.2488 86.2591 88.2488 86.1365C88.2488 86.0139 88.3233 85.8963 88.4559 85.8096C88.5884 85.7229 88.7683 85.6742 88.9558 85.6742C89.1433 85.6742 89.3231 85.7229 89.4557 85.8096C89.5883 85.8963 89.6628 86.0139 89.6628 86.1365Z"
              fill="white"></path>
            <path
              id="path6045"
              opacity="0.586207"
              d="M33.2667 85.7283C33.2667 85.8509 33.1349 85.9685 32.9003 86.0552C32.6657 86.1419 32.3476 86.1906 32.0158 86.1906C31.6841 86.1906 31.3659 86.1419 31.1314 86.0552C30.8968 85.9685 30.765 85.8509 30.765 85.7283C30.765 85.6057 30.8968 85.4881 31.1314 85.4014C31.3659 85.3148 31.6841 85.2661 32.0158 85.2661C32.3476 85.2661 32.6657 85.3148 32.9003 85.4014C33.1349 85.4881 33.2667 85.6057 33.2667 85.7283Z"
              fill="white"></path>
            <path
              id="path5049"
              opacity="0.251232"
              d="M32.5597 65.3892C26.1865 69.331 16.2779 70.7656 27.1213 73.3836C25.8296 70.5075 29.9177 70.8247 32.5597 65.3892Z"
              fill="url(#paint21_linear_790_985)"></path>
            <g
              id="path10207"
              opacity="0.363158"
              filter="url(#filter13_f_790_985)"
            >
              <path
                d="M55.1833 101.283C55.1833 101.283 65.0124 100.357 67.2861 97.5209C68.6164 95.8617 61.9994 93.9256 63.4278 92.3C68.801 86.1855 73.3173 86.4408 79.5473 83.8799C85.7773 81.3189 83.4784 80.0647 81.4633 78.9403C78.0121 77.0145 70.331 74.9627 72.8719 70.3927C75.4288 65.794 97.8203 59.4072 97.8203 59.4072C104.606 57.0889 103.754 52.8965 100.431 49.4005L80.4174 29.496C80.4174 29.496 81.4107 48.3732 77.372 56.4704C72.381 66.4767 45.8101 77.6417 56.9236 78.8766C60.8393 79.3116 62.719 80.6475 64.3198 83.6623C67.6161 89.8703 55.1833 101.283 55.1833 101.283Z"
                fill="url(#paint22_linear_790_985)"></path>
            </g>
          </g>
        </g>
        <defs>
          <filter
            id="filter0_f_790_985"
            x="5.5647"
            y="4.43561"
            width="102.684"
            height="101.129"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="0.717652"
              result="effect1_foregroundBlur_790_985"></feGaussianBlur>
          </filter>
          <filter
            id="filter1_f_790_985"
            x="0.78035"
            y="0.521378"
            width="112.253"
            height="110.698"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="3.10982"
              result="effect1_foregroundBlur_790_985"></feGaussianBlur>
          </filter>
          <filter
            id="filter2_f_790_985"
            x="38.1406"
            y="79.0358"
            width="32.0961"
            height="23.1097"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="0.923947"
              result="effect1_foregroundBlur_790_985"></feGaussianBlur>
          </filter>
          <filter
            id="filter3_f_790_985"
            x="70.4961"
            y="54.6978"
            width="36.3264"
            height="17.6862"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="1.00023"
              result="effect1_foregroundBlur_790_985"></feGaussianBlur>
          </filter>
          <filter
            id="filter4_f_790_985"
            x="91.4082"
            y="75.9048"
            width="11.9037"
            height="6.77174"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="0.454181"
              result="effect1_foregroundBlur_790_985"></feGaussianBlur>
          </filter>
          <filter
            id="filter5_f_790_985"
            x="89.7135"
            y="79.4213"
            width="14.8507"
            height="3.51411"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="0.38721"
              result="effect1_foregroundBlur_790_985"></feGaussianBlur>
          </filter>
          <filter
            id="filter6_f_790_985"
            x="86.9093"
            y="84.6232"
            width="5.17408"
            height="5.4549"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="0.298647"
              result="effect1_foregroundBlur_790_985"></feGaussianBlur>
          </filter>
          <filter
            id="filter7_f_790_985"
            x="87.5496"
            y="86.9807"
            width="6.24384"
            height="3.72822"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="0.25461"
              result="effect1_foregroundBlur_790_985"></feGaussianBlur>
          </filter>
          <filter
            id="filter8_f_790_985"
            x="27.2284"
            y="84.1468"
            width="10.4187"
            height="5.43667"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="0.369177"
              result="effect1_foregroundBlur_790_985"></feGaussianBlur>
          </filter>
          <filter
            id="filter9_f_790_985"
            x="26.8908"
            y="85.8311"
            width="11.135"
            height="5.80057"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="0.313621"
              result="effect1_foregroundBlur_790_985"></feGaussianBlur>
          </filter>
          <filter
            id="filter10_f_790_985"
            x="7.5207"
            y="5.50965"
            width="98.7839"
            height="97.2433"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="0.290554"
              result="effect1_foregroundBlur_790_985"></feGaussianBlur>
          </filter>
          <filter
            id="filter11_f_790_985"
            x="24.5762"
            y="61.9634"
            width="53.0739"
            height="37.8843"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="1.60403"
              result="effect1_foregroundBlur_790_985"></feGaussianBlur>
          </filter>
          <filter
            id="filter12_f_790_985"
            x="62.701"
            y="70.7261"
            width="21.2844"
            height="26.4593"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="0.539895"
              result="effect1_foregroundBlur_790_985"></feGaussianBlur>
          </filter>
          <filter
            id="filter13_f_790_985"
            x="51.8218"
            y="27.086"
            width="53.5337"
            height="76.6067"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend>
            <feGaussianBlur
              stdDeviation="1.205"
              result="effect1_foregroundBlur_790_985"></feGaussianBlur>
          </filter>
          <linearGradient
            id="paint0_linear_790_985"
            x1="72.8987"
            y1="15.3933"
            x2="53.3779"
            y2="33.0443"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#C0CDF9"></stop>
            <stop offset="1" stop-color="#07092D" stop-opacity="0.288043"
            ></stop>
          </linearGradient>
          <linearGradient
            id="paint1_linear_790_985"
            x1="29.2111"
            y1="28.3331"
            x2="51.6902"
            y2="50.8122"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </linearGradient>
          <linearGradient
            id="paint2_linear_790_985"
            x1="53.3442"
            y1="15.0234"
            x2="80.0736"
            y2="41.7528"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </linearGradient>
          <radialGradient
            id="paint3_radial_790_985"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(39.9885 98.8537) scale(22.6717 15.1755)"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </radialGradient>
          <radialGradient
            id="paint4_radial_790_985"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(51.9424 99.3975) scale(28.9272 19.3627)"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </radialGradient>
          <radialGradient
            id="paint5_radial_790_985"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(88.6593 64.3672) scale(16.1628 6.84263)"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </radialGradient>
          <radialGradient
            id="paint6_radial_790_985"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(92.0806 66.2543) scale(16.1628 6.84263)"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </radialGradient>
          <linearGradient
            id="paint7_linear_790_985"
            x1="98.1563"
            y1="76.1348"
            x2="98.2153"
            y2="79.1137"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </linearGradient>
          <linearGradient
            id="paint8_linear_790_985"
            x1="98.2743"
            y1="75.793"
            x2="98.2743"
            y2="80.3161"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </linearGradient>
          <radialGradient
            id="paint9_radial_790_985"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(97.1388 81.1784) scale(6.65092 0.982643)"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </radialGradient>
          <linearGradient
            id="paint10_linear_790_985"
            x1="88.8187"
            y1="84.9698"
            x2="90.285"
            y2="87.5606"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </linearGradient>
          <linearGradient
            id="paint11_linear_790_985"
            x1="88.2672"
            y1="84.0523"
            x2="90.3127"
            y2="88.0865"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </linearGradient>
          <radialGradient
            id="paint12_radial_790_985"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(90.7071 89.6668) rotate(-26.8861) scale(2.87567 0.982642)"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </radialGradient>
          <radialGradient
            id="paint13_radial_790_985"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(31.8537 75.5694) scale(10.7358 4.3704)"
          >
            <stop stop-color="white" stop-opacity="0.330049"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </radialGradient>
          <linearGradient
            id="paint14_linear_790_985"
            x1="32.3999"
            y1="84.5152"
            x2="32.9012"
            y2="86.6353"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </linearGradient>
          <linearGradient
            id="paint15_linear_790_985"
            x1="32.4236"
            y1="84.2545"
            x2="33.1316"
            y2="87.4791"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </linearGradient>
          <radialGradient
            id="paint16_radial_790_985"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(32.1339 90.8255) rotate(-15.4869) scale(6.07516 2.27303)"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </radialGradient>
          <radialGradient
            id="paint17_radial_790_985"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(60.8283 16.7152) scale(84.0597 82.7332)"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </radialGradient>
          <linearGradient
            id="paint18_linear_790_985"
            x1="36.2578"
            y1="80.9055"
            x2="61.4919"
            y2="87.5776"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </linearGradient>
          <linearGradient
            id="paint19_linear_790_985"
            x1="49.6344"
            y1="65.5657"
            x2="46.7999"
            y2="72.0602"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#EEEEEC"></stop>
            <stop offset="1" stop-color="#EEEEEC" stop-opacity="0"></stop>
          </linearGradient>
          <radialGradient
            id="paint20_radial_790_985"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(73.5552 83.6839) scale(13.2104 16.7883)"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </radialGradient>
          <linearGradient
            id="paint21_linear_790_985"
            x1="26.9037"
            y1="67.7821"
            x2="30.8738"
            y2="70.9364"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="white"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
          </linearGradient>
          <linearGradient
            id="paint22_linear_790_985"
            x1="73.3749"
            y1="84.9676"
            x2="61.5791"
            y2="53.2074"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#729FCF"></stop>
            <stop offset="1" stop-color="#729FCF" stop-opacity="0"></stop>
          </linearGradient>
        </defs>
      </svg>

      <p>Inkspace</p>
    </li>
  </ul>
</HeadingLabel>
