---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main class="flex flex-col gap-y-8 text-sm leading-8">
		<div class="my-16">
			<h1 class="text-2xl lg:text-3xl">Wrong Path</h1>
			<p>I've not yet configured this endpoint.</p>
			<p>head back</p>
		</div>
	</main>
</BaseLayout>
