---
import { format } from "date-fns";

import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }))
	.filter(post => !post.frontmatter.draft);
---

<BaseLayout pageTitle="Blog">
	<main class="flex flex-col gap-y-8 leading-8">
		<h1 class="text-2xl lg:text-3xl my-16">Blog</h1>
		<ul class="space-y-4">
			{
				allPosts.map((post) => (
					<li class="text-sm space-x-4">
						<span class="text-neutral-500">{format(post.frontmatter.pubDate, 'yyyy MM')}</span>
						<a href={post.url}>{post.frontmatter.title}</a>
					</li>
				))
			}
		</ul>
	</main>
</BaseLayout>