---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPosts from "../components/BlogPosts.astro";
---

<BaseLayout pageTitle="Blog">
  <main class="flex flex-col gap-y-8 leading-8">
    <h1 class="my-16 text-2xl lg:text-3xl">Blog</h1>
    <BlogPosts />
  </main>
</BaseLayout>
