---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main class="flex flex-col gap-y-8 text-sm leading-8">
		<div class="my-16">
			<h1 class="text-2xl lg:text-3xl">Contact</h1>
		</div>
	</main>
</BaseLayout>
