---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Contact">
  <main class="flex flex-col gap-y-8 leading-8">
    <h1 class="my-16 text-2xl lg:text-3xl">Contact</h1>

    <div class="mt-8 space-y-4 divide-y divide-neutral-200">
      <p class="text-xs">Personal</p>
      <ul class="space-y-2">
        <li>
          <a href="mailto: flangdev3000@gmail.com">flangdev3000@gmail.com</a>
        </li>
      </ul>
    </div>

    <div class="mt-8 space-y-4 divide-y divide-neutral-200">
      <p class="text-xs">Socials</p>
      <ul class="space-y-2">
        <li>
          <a href="https://github.com/ashishk1331">Github</a>
        </li>
        <li>
          <a href="https://www.kaggle.com/ashishk1331">Kaggle</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/ashishk1331/">LinkedIn</a>
        </li>
        <li>
          <a href="https://leetcode.com/flangdev3000/">Leetcode</a>
        </li>
        <li>
          <a href="https://peerlist.io/ashishk1331">Peerlist</a>
        </li>
        <li>
          <a href="https://read.cv/ashishk1331">Read.cv</a>
        </li>
      </ul>
    </div>
  </main>
</BaseLayout>
