---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Contact">
	<main class="flex flex-col gap-y-8 leading-8">
		<div class="my-16">
			<h1 class="text-2xl lg:text-3xl">Contact</h1>
		</div>

		<div class="divide-y divide-neutral-800 space-y-4 mt-8">
			<p class="text-xs">Personal</p>
			<ul class="space-y-2">
				<li>
					<a href="mailto: flangdev3000@gmail.com">flangdev3000@gmail.com</a>
				</li>
			</ul>
		</div>

		<div class="divide-y divide-neutral-800 space-y-4 mt-8">
			<p class="text-xs">Socials</p>
			<ul class="space-y-2">
				<li>
					<a href="https://github.com/ashishk1331">Github</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/ashishk1331/">LinkedIn</a>
				</li>
				<li>
					<a href="https://leetcode.com/flangdev3000/">Leetcode</a>
				</li>
				<li>
					<a href="https://peerlist.io/ashishk1331">Peerlist</a>
				</li>
				<li>
					<a href="https://read.cv/ashishk1331">Read.cv</a>
				</li>
			</ul>
		</div>
	</main>
</BaseLayout>
