---
import { Image } from "astro:assets";

import BaseLayout from "../layouts/BaseLayout.astro";
import Label from "../components/Label.astro";
import BlogPosts from "../components/BlogPosts.astro";

import { PROJECTS } from "../assets/logos/projects.ts";
import FeatherAd from "../components/FeatherAd.astro";
import HeadingLabel from "../components/HeadingLabel.astro";
---

<style>
  a {
    @apply underline decoration-primary underline-offset-2;
  }
</style>

<BaseLayout>
  <main class="flex flex-col gap-10 leading-8">
    <h1
      class="my-16 text-2xl underline decoration-primary decoration-wavy underline-offset-4 lg:text-3xl"
    >
      Ashish Khare
    </h1>

    <HeadingLabel title="Web Developer">
      <p>
        Hello! I'm a web designer and developer. I've build web-based tooling
        like <Label {...PROJECTS["tetra_data"]} /> and <Label
          {...PROJECTS["folder_routing_data"]}
        />. Recently, I've found an unknown attraction towards building web
        services in Go. I wish to onboard the Go and HTMX hype train.
      </p>

      <p>
        I am a final-year student pursuing a Bachelor of Technology in Computer
        Science and Engineering at <a href="https://knit.ac.in/"
          >Kamla Nehru Institute of Technology, Sultanpur</a
        >. My journey began during my school days when my computer teacher
        introduced me to algorithms and explained how computers can be helpful.
        I am proud to maintain a CGPA of <em>8.5</em>, even though I consider
        myself a mediocre student yet a fast learner.
      </p>
    </HeadingLabel>

    <HeadingLabel title="Data Scientist">
      <div class="grid grid-cols-2">
        {
          ["iris-flower", "pairplot"].map((slug) => (
            <Image
              src={`/images/${slug}.webp`}
              alt={slug}
              width={512}
              height={512}
              class="h-full object-cover"
            />
          ))
        }
      </div>

      <p>
        Why not start by showcasing my exploratory skills with the <a
          href="https://www.kaggle.com/code/ashishk1331/iris-dataset"
          >Iris dataset</a
        >? I've used Pandas, NumPy, Seaborn, and Scikit-learn to perform EDA,
        visualization, and model training on it.
      </p>

      <ol class="list-decimal marker:text-primary/75 [&>li]:ml-4 [&>li]:pl-2">
        <p>Datasets I've worked with:</p>
        <span>These links are Kaggle Notebooks.</span>
        <li>
          <a href="https://www.kaggle.com/code/ashishk1331/palmer-penguins">
            Palmer Penguins
          </a>
        </li>
        <li>
          <a href="https://www.kaggle.com/code/ashishk1331/iris-dataset">
            Iris Dataset
          </a>
        </li>
      </ol>

      <ol class="list-decimal marker:text-primary/75 [&>li]:ml-4 [&>li]:pl-2">
        <p>Data Science Profiles:</p>
        <li>
          <a href="https://www.kaggle.com/ashishk1331">ashishk1331 @ Kaggle</a>
        </li>
        <li>
          <a href="https://profiles.datawars.io/flangdev3000"
            >flangdev3000 @ Datawars</a
          >
        </li>
      </ol>
    </HeadingLabel>

    <HeadingLabel title="Challenge Architect">
      <Image
        src="/images/challenges-banner.webp"
        alt="CTN challenge banner"
        width={512}
        height={512}
        class="w-full"
      />
      <p>
        Do you like challenges? So do I. Here are a few for you to try like <Label
          {...PROJECTS["crack_the_nut_data"]}
        /> and <Label {...PROJECTS["days_of_code_data"]} />. Although the
        100-day challenge is still a work in progress, you can get a taste of
        what it will offer from the website.
      </p>
    </HeadingLabel>

    <HeadingLabel title="Pythonista">
      <p>
        I adore python. Only the computer language! I've used it to do web
        scraping, building APIs and even for image processing. The <Label
          {...PROJECTS["bleach_db_data"]}
        />, <Label {...PROJECTS["image_algos_data"]} /> and <Label
          {...PROJECTS["bf_compiler_data"]}
        /> are written in python. The simplicity of Python has captivated me for
        years. You can write Python as if you were reading English. Here are few
        lines from the zen of python one could also apply in their daily lives.
      </p>

      <blockquote class="italic">
        If the implementation is hard to explain, it's a bad idea.
        <br />
        If the implementation is easy to explain, it may be a good idea.
      </blockquote>
    </HeadingLabel>

    <FeatherAd />

    <HeadingLabel title="App Developer">
      <p>
        Yes, I can also build mobile apps using React Native and Expo. I've
        built apps like <Label {...PROJECTS["feather"]} />, <Label
          {...PROJECTS["altar"]}
        />, and <Label {...PROJECTS["commit"]} />. They may not work properly
        because Supabase shuts down inactive project instances. Altar and Commit
        were great exercises for the mind, as I incorporated React Query for
        efficient queries, a mini design system for uniform designs across
        entire application, proper authentication and even animations.
      </p><p>
        Web version of feather is also <a
          href="https://feather-roan.vercel.app/">available here</a
        >. However, It has limited set of features and capabilities.
      </p>
    </HeadingLabel>

    <p>
      For my next projects, I'm building a mini ORM for python's sqlite3 module
      and bringing power of xml-like syntax to fastHTML.
    </p>

    <p>
      I aim to write more, so I started working on this template. You can expect
      blogs from me now—maybe one each week. Share your thoughts on Twitter <a
        href="https://twitter.com/AshishK1331"><i>@ashishk1331</i></a
      >. I'd love to hear from you!
    </p>

    <HeadingLabel title="Asides">
      <div class="grid grid-cols-3">
        {
          ["hurry-up-tomorrow", "gnx", "chromakopia"].map((slug) => (
            <Image
              src={`/images/${slug}.webp`}
              alt={slug}
              width={512}
              height={512}
            />
          ))
        }
      </div>
      <p>
        My top 3 albums right now!

        <br />

        I've spent the last few months listening to "Hurry Up Tomorrow" by The
        Weeknd, who recently announced that this will be his last album and that
        he'll be retiring his stage name. Man! The vocals on "HUT" are
        angelic—exemplary! Speaking of exemplary, Kendrick Lamar's growing
        influence and chance to perform at the Super Bowl halftime show are
        shining examples of his success.

        <br />

        "CHROMAKOPIA" is a great album. I spent all of November listening to
        Tyler. He really put out some great work for us to appreciate. 2024 was
        packed with great albums and projects.

        <br />

        This year, I've also spent most of my time listening to Kanye West. He's
        the GOAT, no doubt. "Flashing Lights" has been on repeat since last
        year. Then, Billie also dropped "Hit Me Hard and Soft," which was
        exactly the experience I needed to cure my winter blues. Finneas did a
        fantastic job with production.
      </p>
    </HeadingLabel>

    <hr class="border-primary/75" />

    <h2 class="underline decoration-primary decoration-wavy underline-offset-4">
      Latest Blog Posts
    </h2>

    <BlogPosts count={4} />
  </main>
</BaseLayout>
