---
import { Image } from "astro:assets";

import BaseLayout from "../layouts/BaseLayout.astro";
import Label from "../components/Label.astro";
import BlogPosts from "../components/BlogPosts.astro";

import { PROJECTS } from "../assets/logos/projects.ts";
import FeatherAd from "../components/FeatherAd.astro";
import HeadingLabel from "../components/HeadingLabel.astro";
import DesignAngle from "../components/sections/design.astro";
import AppDeveloper from "../components/sections/app-developer.astro";
---

<style>
  a {
    @apply underline decoration-primary underline-offset-2;
  }
</style>

<BaseLayout>
  <main class="flex flex-col gap-10 leading-8">
    <h1
      class="my-16 text-2xl underline decoration-primary decoration-wavy underline-offset-4 lg:text-3xl"
    >
      Ashish Khare
    </h1>

    <p>
      <a href="#blog-section-index">For the blogs, go here.</a>
    </p>

    <HeadingLabel title="Web Developer">
      <Image
        src="/images/cover.webp"
        alt="a cover image showcasing my badges"
        width={512}
        height={512}
        class="w-full"
      />

      <p>
        Hello! I'm a web designer and developer. I've build web-based tooling
        like <Label {...PROJECTS["tetra_data"]} /> and <Label
          {...PROJECTS["folder_routing_data"]}
        />. Recently, I've found an unknown attraction towards building web
        services in Go. I wish to onboard the Go and HTMX hype train.
      </p>

      <p>
        I am a final-year student pursuing a Bachelor of Technology in Computer
        Science and Engineering at <a href="https://knit.ac.in/"
          >Kamla Nehru Institute of Technology, Sultanpur</a
        >. My journey began during my school days when my computer teacher
        introduced me to algorithms and explained how computers can be helpful.
        I am proud to maintain a CGPA of <em>8.5</em>, even though I consider
        myself a mediocre student yet a fast learner.
      </p>

      <ul class="flex flex-wrap gap-2 [&_svg]:size-5">
        <li class="w-full">Tools used:</li>
        <li
          class="inline-flex items-center gap-1 rounded-md bg-purple-100 px-2 py-1.5 text-sm font-medium text-purple-800"
        >
          <svg
            width="100"
            height="100"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="nextjs2">
              <g id="nextjs2_2">
                <path
                  id="Vector"
                  d="M50 99.9996C77.6142 99.9996 100 77.6139 100 49.9996C100 22.3854 77.6142 -0.000366211 50 -0.000366211C22.3858 -0.000366211 0 22.3854 0 49.9996C0 77.6139 22.3858 99.9996 50 99.9996Z"
                  fill="black"></path>
                <path
                  id="Vector_2"
                  d="M83.06 87.511L38.4122 29.9996H30V69.983H36.7298V38.546L77.7773 91.5803C79.6294 90.3405 81.394 88.9804 83.06 87.511Z"
                  fill="url(#paint0_linear_790_2961)"></path>
                <path
                  id="Vector_3"
                  d="M70.5558 29.9996H63.8892V69.9996H70.5558V29.9996Z"
                  fill="url(#paint1_linear_790_2961)"></path>
              </g>
            </g>
            <defs>
              <linearGradient
                id="paint0_linear_790_2961"
                x1="60.5555"
                y1="64.7219"
                x2="80.2778"
                y2="89.1663"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="white"></stop>
                <stop offset="1" stop-color="white" stop-opacity="0"></stop>
              </linearGradient>
              <linearGradient
                id="paint1_linear_790_2961"
                x1="67.2225"
                y1="29.9996"
                x2="67.1109"
                y2="59.3748"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="white"></stop>
                <stop offset="1" stop-color="white" stop-opacity="0"></stop>
              </linearGradient>
            </defs>
          </svg>

          <p>NextJS</p>
        </li>

        <li
          class="inline-flex items-center gap-1 rounded-md bg-zinc-800 px-2 py-1.5 text-sm font-medium text-zinc-100"
        >
          <svg
            width="101"
            height="100"
            viewBox="0 0 101 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="reactjs">
              <g id="reactjs_2">
                <path
                  id="Vector"
                  d="M50.3067 58.8168C55.1757 58.8168 59.1229 54.8697 59.1229 50.0006C59.1229 45.1315 55.1757 41.1844 50.3067 41.1844C45.4376 41.1844 41.4904 45.1315 41.4904 50.0006C41.4904 54.8697 45.4376 58.8168 50.3067 58.8168Z"
                  fill="#61DAFB"></path>
                <path
                  id="Vector_2"
                  d="M50.3066 68.0631C76.4333 68.0631 97.6132 59.9762 97.6132 50.0005C97.6132 40.0249 76.4333 31.938 50.3066 31.938C24.1799 31.938 3 40.0249 3 50.0005C3 59.9762 24.1799 68.0631 50.3066 68.0631Z"
                  stroke="#61DAFB"
                  stroke-width="5"></path>
                <path
                  id="Vector_3"
                  d="M34.664 59.0318C47.7274 81.6582 65.3207 95.9571 73.9599 90.9692C82.5991 85.9814 79.0126 63.5957 65.9492 40.9693C52.8858 18.3428 35.2925 4.04395 26.6533 9.03178C18.0141 14.0196 21.6006 36.4054 34.664 59.0318Z"
                  stroke="#61DAFB"
                  stroke-width="5"></path>
                <path
                  id="Vector_4"
                  d="M34.664 40.9692C21.6007 63.5956 18.0141 85.9814 26.6533 90.9692C35.2925 95.957 52.8859 81.6582 65.9492 59.0318C79.0126 36.4053 82.5991 14.0196 73.9599 9.03176C65.3208 4.04393 47.7274 18.3428 34.664 40.9692Z"
                  stroke="#61DAFB"
                  stroke-width="5"></path>
              </g>
            </g>
          </svg>

          <p>ReactJS</p>
        </li>

        <li
          class="inline-flex items-center gap-1 rounded-md bg-zinc-100 px-2 py-1.5 text-sm font-medium text-zinc-800"
        >
          <svg
            width="100"
            height="100"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="supabase">
              <g id="supabase_2">
                <path
                  id="Vector"
                  d="M57.8941 98.3382C55.3395 101.555 50.1596 99.7927 50.0981 95.6848L49.198 35.6028H89.5971C96.9144 35.6028 100.995 44.0544 96.4454 49.7852L57.8941 98.3382Z"
                  fill="url(#paint0_linear_790_3465)"></path>
                <path
                  id="Vector_2"
                  d="M57.8941 98.3382C55.3395 101.555 50.1596 99.7927 50.0981 95.6848L49.198 35.6028H89.5971C96.9144 35.6028 100.995 44.0544 96.4454 49.7852L57.8941 98.3382Z"
                  fill="url(#paint1_linear_790_3465)"
                  fill-opacity="0.2"></path>
                <path
                  id="Vector_3"
                  d="M41.464 1.66122C44.0187 -1.55626 49.1986 0.206684 49.2601 4.31457L49.6546 64.3965H9.76106C2.44348 64.3965 -1.63767 55.9449 2.91262 50.2141L41.464 1.66122Z"
                  fill="#3ECF8E"></path>
              </g>
            </g>
            <defs>
              <linearGradient
                id="paint0_linear_790_3465"
                x1="49.198"
                y1="48.9245"
                x2="85.1033"
                y2="63.9831"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#249361"></stop>
                <stop offset="1" stop-color="#3ECF8E"></stop>
              </linearGradient>
              <linearGradient
                id="paint1_linear_790_3465"
                x1="33.2795"
                y1="27.1292"
                x2="49.6542"
                y2="57.9537"
                gradientUnits="userSpaceOnUse"
              >
                <stop></stop>
                <stop offset="1" stop-opacity="0"></stop>
              </linearGradient>
            </defs>
          </svg>

          <p>Supabase</p>
        </li>

        <li
          class="inline-flex items-center gap-1 rounded-md bg-blue-100 px-2 py-1.5 text-sm font-medium text-blue-800"
        >
          <svg
            width="100"
            height="100"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="alpinejs">
              <g id="alpinejs_2">
                <path
                  id="Path"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M77.7778 26.9991L100 49.1239L77.7778 71.2486L55.5555 49.1239L77.7778 26.9991Z"
                  fill="#77C1D2"></path>
                <path
                  id="Path_2"
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M22.2222 26.9991L68.2916 72.8665H23.8472L0 49.1239L22.2222 26.9991Z"
                  fill="#2D3441"></path>
              </g>
            </g>
          </svg>

          <p>AlpineJS</p>
        </li>

        <li
          class="inline-flex items-center gap-1 rounded-md bg-blue-100 px-2 py-1.5 text-sm font-medium text-blue-800"
        >
          <svg
            width="100"
            height="100"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="go">
              <g id="go_2">
                <path
                  id="Vector"
                  d="M7.54671 42.3129C7.35195 42.3129 7.30326 42.2155 7.40064 42.0695L8.4231 40.7549C8.52048 40.6088 8.76392 40.5114 8.95867 40.5114H26.3404C26.5352 40.5114 26.5839 40.6575 26.4865 40.8036L25.6588 42.0695C25.5614 42.2155 25.318 42.3616 25.1719 42.3616L7.54671 42.3129ZM0.194754 46.7923C0 46.7923 -0.0486884 46.6949 0.0486884 46.5488L1.07115 45.2342C1.16852 45.0882 1.41196 44.9908 1.60672 44.9908H23.8086C24.0034 44.9908 24.1008 45.1368 24.0521 45.2829L23.6626 46.4514C23.6139 46.6462 23.4191 46.7436 23.2244 46.7436L0.194754 46.7923ZM11.9774 51.2716C11.7826 51.2716 11.7339 51.1255 11.8313 50.9795L12.5129 49.7622C12.6103 49.6162 12.8051 49.4701 12.9998 49.4701H22.7375C22.9323 49.4701 23.0296 49.6162 23.0296 49.8109L22.9323 50.9795C22.9323 51.1742 22.7375 51.3203 22.5914 51.3203L11.9774 51.2716ZM62.5159 41.4365C59.4486 42.2155 57.355 42.7998 54.3363 43.5788C53.606 43.7736 53.5573 43.8223 52.9243 43.0919C52.194 42.2642 51.6584 41.7287 50.636 41.2418C47.5686 39.7324 44.5986 40.1706 41.8234 41.9721C38.5126 44.1144 36.8085 47.2791 36.8571 51.2229C36.9058 55.118 39.5837 58.3314 43.4301 58.867C46.7409 59.3052 49.5161 58.1367 51.7071 55.6535C52.1453 55.118 52.5348 54.5337 53.0217 53.8521H43.6248C42.6024 53.8521 42.3589 53.2191 42.6998 52.3914C43.3327 50.8821 44.5012 48.3503 45.1829 47.0844C45.3289 46.7923 45.6698 46.3054 46.4001 46.3054H64.1227C64.0253 47.62 64.0253 48.9345 63.8305 50.2491C63.295 53.7547 61.9804 56.9681 59.8381 59.7921C56.3325 64.4175 51.7558 67.2901 45.9619 68.0691C41.1904 68.702 36.7598 67.777 32.8647 64.8557C29.2617 62.1291 27.2168 58.5262 26.6813 54.0468C26.0483 48.7398 27.6063 43.9683 30.8198 39.7811C34.2767 35.2531 38.8534 32.3805 44.4525 31.358C49.0293 30.5303 53.4112 31.0659 57.355 33.7438C59.9355 35.4478 61.7856 37.7849 63.0028 40.6088C63.295 41.047 63.1002 41.2905 62.5159 41.4365Z"
                  fill="#00ACD7"></path>
                <path
                  id="Vector_2"
                  d="M78.6318 68.3613C74.2012 68.2639 70.16 66.998 66.7518 64.0767C63.8792 61.5936 62.0778 58.4289 61.4935 54.6799C60.6171 49.1781 62.1264 44.3092 65.4372 39.976C68.9915 35.3019 73.2761 32.8674 79.07 31.845C84.0362 30.9686 88.7103 31.4555 92.9462 34.3281C96.7926 36.9573 99.1783 40.5115 99.8112 45.1856C100.639 51.7585 98.7401 57.1143 94.2121 61.691C90.9986 64.9531 87.0549 66.998 82.5269 67.9231C81.2123 68.1665 79.8977 68.2152 78.6318 68.3613ZM90.2196 48.6912C90.1709 48.0582 90.1709 47.5713 90.0736 47.0845C89.1972 42.2643 84.7665 39.5378 80.1411 40.6089C75.6131 41.6314 72.6918 44.504 71.6207 49.0807C70.7443 52.8784 72.5944 56.7248 76.1 58.2828C78.7779 59.4513 81.4557 59.3053 84.0362 57.9907C87.8826 55.9944 89.9762 52.8784 90.2196 48.6912Z"
                  fill="#00ACD7"></path>
              </g>
            </g>
          </svg>

          <p>GoLang</p>
        </li>

        <li
          class="inline-flex items-center gap-1 rounded-md bg-sky-100 px-2 py-1.5 text-sm font-medium text-sky-800"
        >
          <svg
            width="100"
            height="100"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="typescript">
              <g id="typescript_2">
                <path
                  id="Vector"
                  d="M0 0.000488281H100V100H0V0.000488281Z"
                  fill="#017ACB"></path>
                <path
                  id="Vector_2"
                  d="M48.0157 37.0317H52.8126V45.313H39.8438V82.1567L39.5 82.2505C39.0313 82.3755 32.8594 82.3755 31.5313 82.2349L30.4688 82.1411V45.313H17.5V37.0317L21.6094 36.9849C23.8594 36.9536 29.6406 36.9536 34.4532 36.9849C39.2657 37.0161 45.3594 37.0317 48.0157 37.0317ZM84.6251 78.2505C82.7189 80.2661 80.672 81.3911 77.2657 82.313C75.7813 82.7192 75.5313 82.7349 72.1876 82.7192C68.8438 82.7036 68.5782 82.7036 66.9532 82.2817C62.7501 81.2036 59.3594 79.0942 57.0469 76.1099C56.3907 75.2661 55.3126 73.5161 55.3126 73.2974C55.3126 73.2349 55.4688 73.0942 55.6719 73.0005C55.8751 72.9067 56.2969 72.6411 56.6407 72.438C56.9844 72.2349 57.6094 71.8599 58.0313 71.6411C58.4532 71.4224 59.6719 70.7036 60.7345 70.063C61.797 69.4224 62.7657 68.9067 62.8751 68.9067C62.9845 68.9067 63.1876 69.1255 63.3438 69.3911C64.2813 70.9692 66.4688 72.9849 68.0157 73.6724C68.9688 74.0786 71.0782 74.5317 72.0938 74.5317C73.0313 74.5317 74.7501 74.1255 75.672 73.7036C76.6563 73.2505 77.1564 72.7974 77.7501 71.8911C78.1564 71.2505 78.2032 71.0786 78.1876 69.8599C78.1876 68.7349 78.1251 68.4224 77.8126 67.9067C76.9376 66.4692 75.7501 65.7192 70.9376 63.5942C65.9688 61.3911 63.7345 60.0786 61.9219 58.313C60.5782 57.0005 60.3126 56.6411 59.4688 55.0005C58.3751 52.8911 58.2344 52.2036 58.2188 49.063C58.2032 46.8599 58.2501 46.1411 58.4844 45.3911C58.8126 44.2661 59.8751 42.0942 60.3594 41.5474C61.3594 40.3755 61.7188 40.0161 62.422 39.438C64.547 37.688 67.8595 36.5317 71.0313 36.4224C71.3907 36.4224 72.5782 36.4849 73.6876 36.563C76.8751 36.8286 79.047 37.6099 81.1407 39.2817C82.7189 40.5317 85.1095 43.4692 84.8751 43.8599C84.7189 44.0942 78.4845 48.2505 78.0782 48.3755C77.8282 48.4536 77.6564 48.3599 77.3126 47.9536C75.1876 45.4067 74.3282 44.8599 72.2657 44.7349C70.797 44.6411 70.0157 44.813 69.0313 45.4692C68.0001 46.1567 67.5001 47.2036 67.5001 48.6567C67.5157 50.7817 68.3282 51.7817 71.3282 53.2661C73.2657 54.2192 74.922 55.0005 75.047 55.0005C75.2345 55.0005 79.2501 57.0005 80.297 57.6255C85.172 60.4849 87.1564 63.4224 87.672 68.4849C88.047 72.2974 86.9689 75.7817 84.6251 78.2505Z"
                  fill="white"></path>
              </g>
            </g>
          </svg>

          <p>Typescript</p>
        </li>

        <li
          class="inline-flex items-center gap-1 rounded-md bg-rose-100 px-2 py-1.5 text-sm font-medium text-rose-800"
        >
          <svg
            width="100"
            height="100"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="astro">
              <g id="astro_2">
                <path
                  id="Vector"
                  d="M35.6962 85.1738C31.1941 81.0441 29.8798 72.3671 31.7555 66.0811C35.0079 70.0444 39.5143 71.2997 44.1821 72.0084C51.3881 73.1021 58.4652 72.6931 65.1592 69.3881C65.9248 69.0097 66.6325 68.5067 67.4692 67.9971C68.0975 69.8254 68.2608 71.6717 68.0415 73.5504C67.5082 78.1264 65.2388 81.6611 61.6292 84.3404C60.1858 85.4121 58.6585 86.3701 57.1678 87.3808C52.5885 90.4868 51.3495 94.1285 53.0701 99.4261C53.1111 99.5551 53.1478 99.6841 53.2401 99.9991C50.9018 98.9491 49.1941 97.4205 47.8928 95.4101C46.5181 93.2885 45.8641 90.9415 45.8298 88.4021C45.8125 87.1664 45.8125 85.9194 45.6468 84.7014C45.2425 81.7311 43.8531 80.4011 41.2351 80.3244C38.5485 80.2458 36.4232 81.9124 35.8597 84.5371C35.8167 84.7384 35.7543 84.9374 35.6919 85.1714L35.6962 85.1738Z"
                  fill="#FF5D01"></path>
                <path
                  id="Vector_2"
                  d="M10 65.0336C10 65.0336 23.3316 58.5166 36.7005 58.5166L46.7801 27.2146C47.1574 25.7008 48.2594 24.672 49.5031 24.672C50.7471 24.672 51.8491 25.7008 52.2264 27.2146L62.3061 58.5166C78.1395 58.5166 89.0065 65.0336 89.0065 65.0336C89.0065 65.0336 66.3618 3.13218 66.3175 3.00798C65.6675 1.17784 64.5705 -0.000854492 63.0911 -0.000854492H35.9178C34.4385 -0.000854492 33.3856 1.17784 32.6914 3.00798C32.6425 3.12983 10 65.0336 10 65.0336Z"
                  fill="#000014"></path>
              </g>
            </g>
          </svg>

          <p>Astro</p>
        </li>

        <li
          class="inline-flex items-center gap-1 rounded-md bg-neutral-100 px-2 py-1.5 text-sm font-medium text-neutral-800"
        >
          <svg
            width="100"
            height="100"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="tailwindcss">
              <g id="tailwindcss_2">
                <path
                  id="Vector"
                  d="M50.0002 20.0005C36.6665 20.0005 28.3334 26.6655 24.9996 39.9942C30.0002 33.3292 35.8337 30.8308 42.4999 32.4964C46.3039 33.4468 49.0224 36.2065 52.0323 39.2602C56.9341 44.2345 62.6075 49.9917 75.0009 49.9917C88.3334 49.9917 96.6677 43.3267 100 29.9967C95.0009 36.6617 89.1674 39.1614 82.4999 37.4958C78.6973 36.5454 75.9787 33.7856 72.9689 30.732C68.067 25.7576 62.3924 20.0005 50.0002 20.0005ZM24.9996 49.9917C11.6671 49.9917 3.33274 56.6567 0.000244141 69.9866C4.99962 63.3217 10.8331 60.822 17.5006 62.4888C21.3032 63.4405 24.0218 66.199 27.0316 69.2514C31.9335 74.2257 37.6081 79.9841 50.0002 79.9841C63.334 79.9841 71.6671 73.3191 75.0009 59.9892C70.0002 66.6542 64.1668 69.1538 57.5006 67.487C53.6966 66.5379 50.9781 63.7768 47.9682 60.7244C43.0664 55.7501 37.393 49.9917 24.9996 49.9917Z"
                  fill="#06B6D4"></path>
              </g>
            </g>
          </svg>

          <p>Tailwind CSS</p>
        </li>

        <li
          class="inline-flex items-center gap-1 rounded-md bg-purple-100 px-2 py-1.5 text-sm font-medium text-purple-800"
        >
          <svg
            width="100"
            height="100"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="prettier">
              <g id="prettier_2">
                <path
                  id="Rectangle"
                  d="M73.8095 19.0481H78.5715C79.9048 19.0481 80.9524 20.0957 80.9524 21.429C80.9524 22.7624 79.9048 23.81 78.5715 23.81H73.8095C72.4762 23.81 71.4286 22.7624 71.4286 21.429C71.4286 20.0957 72.4762 19.0481 73.8095 19.0481Z"
                  fill="#56B3B4"></path>
                <path
                  id="Rectangle_1_"
                  d="M2.38095 95.2388H26.1904C27.5238 95.2388 28.5714 96.2864 28.5714 97.6197C28.5714 98.9531 27.5238 100.001 26.1904 100.001H2.38095C1.04762 100.001 0 98.9531 0 97.6197C0 96.2864 1.04762 95.2388 2.38095 95.2388Z"
                  fill="#EA5E5E"></path>
                <path
                  id="Rectangle_2_"
                  d="M59.5239 57.1436H73.8095C75.1428 57.1436 76.1904 58.1911 76.1904 59.5244C76.1904 60.8577 75.1428 61.9052 73.8095 61.9052H59.5239C58.1906 61.9052 57.1429 60.8577 57.1429 59.5244C57.1429 58.1911 58.1906 57.1436 59.5239 57.1436Z"
                  fill="#BF85BF"></path>
                <path
                  id="Rectangle_3_"
                  d="M30.9525 57.1436H50.0002C51.3335 57.1436 52.3811 58.1911 52.3811 59.5244C52.3811 60.8577 51.3335 61.9052 50.0002 61.9052H30.9525C29.6192 61.9052 28.5715 60.8577 28.5715 59.5244C28.5715 58.1911 29.6192 57.1436 30.9525 57.1436Z"
                  fill="#EA5E5E"></path>
                <path
                  id="Rectangle_4_"
                  d="M2.38095 57.1436H21.4286C22.7619 57.1436 23.8095 58.1911 23.8095 59.5244C23.8095 60.8577 22.7619 61.9052 21.4286 61.9052H2.38095C1.04762 61.9052 0 60.8577 0 59.5244C0 58.1911 1.04762 57.1436 2.38095 57.1436Z"
                  fill="#56B3B4"></path>
                <path
                  id="Rectangle_5_"
                  d="M2.38095 76.1909H26.1904C27.5238 76.1909 28.5714 77.2385 28.5714 78.5719C28.5714 79.9052 27.5238 80.9528 26.1904 80.9528H2.38095C1.04762 80.9528 0 79.9052 0 78.5719C0 77.2385 1.04762 76.1909 2.38095 76.1909Z"
                  fill="#BF85BF"></path>
                <path
                  id="Rectangle_6_"
                  d="M2.38095 38.0957H26.1904C27.5238 38.0957 28.5714 39.1433 28.5714 40.4767C28.5714 41.81 27.5238 42.8577 26.1904 42.8577H2.38095C1.04762 42.8577 0 41.81 0 40.4767C0 39.1433 1.04762 38.0957 2.38095 38.0957Z"
                  fill="#BF85BF"></path>
                <path
                  id="Rectangle_7_"
                  d="M26.1905 9.52441H73.8095C75.1428 9.52441 76.1905 10.572 76.1905 11.9054C76.1905 13.2387 75.1428 14.2863 73.8095 14.2863H26.1905C24.8572 14.2863 23.8096 13.2387 23.8096 11.9054C23.8096 10.572 24.8572 9.52441 26.1905 9.52441Z"
                  fill="#F7BA3E"></path>
                <path
                  id="Rectangle_8_"
                  d="M2.38095 9.52441H16.6667C18 9.52441 19.0476 10.572 19.0476 11.9054C19.0476 13.2387 18 14.2863 16.6667 14.2863H2.38095C1.04762 14.2863 0 13.2387 0 11.9054C0 10.572 1.04762 9.52441 2.38095 9.52441Z"
                  fill="#EA5E5E"></path>
                <path
                  id="Rectangle_9_"
                  d="M21.4286 85.7148H26.1905C27.5239 85.7148 28.5715 86.7625 28.5715 88.0958C28.5715 89.4291 27.5239 90.4768 26.1905 90.4768H21.4286C20.0952 90.4768 19.0476 89.4291 19.0476 88.0958C19.0476 86.7625 20.0952 85.7148 21.4286 85.7148Z"
                  fill="#F7BA3E"></path>
                <path
                  id="Rectangle_10_"
                  d="M21.4286 28.572H26.1905C27.5239 28.572 28.5715 29.6196 28.5715 30.9529C28.5715 32.2862 27.5239 33.3338 26.1905 33.3338H21.4286C20.0952 33.3338 19.0476 32.2862 19.0476 30.9529C19.0476 29.6196 20.0952 28.572 21.4286 28.572Z"
                  fill="#56B3B4"></path>
                <path
                  id="Rectangle_11_"
                  d="M2.38096 85.7148H11.9048C13.2381 85.7148 14.2857 86.7625 14.2857 88.0958C14.2857 89.4291 13.2381 90.4768 11.9048 90.4768H2.38096C1.04762 90.4768 0 89.4291 0 88.0958C0 86.7625 1.04762 85.7148 2.38096 85.7148Z"
                  fill="#56B3B4"></path>
                <path
                  id="Rectangle_12_"
                  d="M2.38096 28.572H11.9048C13.2381 28.572 14.2857 29.6196 14.2857 30.9529C14.2857 32.2862 13.2381 33.3338 11.9048 33.3338H2.38096C1.04762 33.3338 0 32.2862 0 30.9529C0 29.6196 1.04762 28.572 2.38096 28.572Z"
                  fill="#F7BA3E"></path>
                <path
                  id="Rectangle_13_"
                  opacity="0.5"
                  d="M64.2858 85.7148H69.0476C70.3809 85.7148 71.4285 86.7625 71.4285 88.0958C71.4285 89.4291 70.3809 90.4768 69.0476 90.4768H64.2858C62.9525 90.4768 61.9049 89.4291 61.9049 88.0958C61.9049 86.7625 62.9525 85.7148 64.2858 85.7148Z"
                  fill="#D0D4D8"></path>
                <path
                  id="Rectangle_14_"
                  opacity="0.5"
                  d="M35.7142 85.7148H54.7619C56.0953 85.7148 57.1429 86.7625 57.1429 88.0958C57.1429 89.4291 56.0953 90.4768 54.7619 90.4768H35.7142C34.3809 90.4768 33.3333 89.4291 33.3333 88.0958C33.3333 86.7625 34.3809 85.7148 35.7142 85.7148Z"
                  fill="#D0D4D8"></path>
                <path
                  id="Rectangle_15_"
                  opacity="0.5"
                  d="M78.5714 85.7148H97.6191C98.9524 85.7148 100 86.7625 100 88.0958C100 89.4291 98.9524 90.4768 97.6191 90.4768H78.5714C77.2381 90.4768 76.1904 89.4291 76.1904 88.0958C76.1904 86.7625 77.2381 85.7148 78.5714 85.7148Z"
                  fill="#D0D4D8"></path>
                <path
                  id="Rectangle_16_"
                  d="M40.4762 47.6196H78.5714C79.9047 47.6196 80.9523 48.6672 80.9523 50.0005C80.9523 51.3338 79.9047 52.3814 78.5714 52.3814H40.4762C39.1428 52.3814 38.0952 51.3338 38.0952 50.0005C38.0952 48.6672 39.1428 47.6196 40.4762 47.6196Z"
                  fill="#56B3B4"></path>
                <path
                  id="Rectangle_17_"
                  d="M16.6666 47.6196H30.9523C32.2856 47.6196 33.3333 48.6672 33.3333 50.0005C33.3333 51.3338 32.2856 52.3814 30.9523 52.3814H16.6666C15.3333 52.3814 14.2856 51.3338 14.2856 50.0005C14.2856 48.6672 15.3333 47.6196 16.6666 47.6196Z"
                  fill="#F7BA3E"></path>
                <path
                  id="Rectangle_18_"
                  d="M2.38095 47.6196H7.14286C8.4762 47.6196 9.52382 48.6672 9.52382 50.0005C9.52382 51.3338 8.4762 52.3814 7.14286 52.3814H2.38095C1.04762 52.3814 0 51.3338 0 50.0005C0 48.6672 1.04762 47.6196 2.38095 47.6196Z"
                  fill="#EA5E5E"></path>
                <path
                  id="Rectangle_19_"
                  d="M45.2381 19.0481H64.2857C65.619 19.0481 66.6666 20.0957 66.6666 21.429C66.6666 22.7624 65.619 23.81 64.2857 23.81H45.2381C43.9048 23.81 42.8572 22.7624 42.8572 21.429C42.8572 20.0957 43.9048 19.0481 45.2381 19.0481Z"
                  fill="#BF85BF"></path>
                <path
                  id="Rectangle_20_"
                  d="M2.38095 19.0481H35.7142C37.0476 19.0481 38.0952 20.0957 38.0952 21.429C38.0952 22.7624 37.0476 23.81 35.7142 23.81H2.38095C1.04762 23.81 0 22.7624 0 21.429C0 20.0957 1.04762 19.0481 2.38095 19.0481Z"
                  fill="#56B3B4"></path>
                <path
                  id="Rectangle_21_"
                  d="M16.6666 66.667H59.5239C60.8572 66.667 61.9048 67.7146 61.9048 69.048C61.9048 70.3813 60.8572 71.4289 59.5239 71.4289H16.6666C15.3333 71.4289 14.2856 70.3813 14.2856 69.048C14.2856 67.7146 15.3333 66.667 16.6666 66.667Z"
                  fill="#F7BA3E"></path>
                <path
                  id="Rectangle_22_"
                  d="M2.38095 66.667H7.14286C8.4762 66.667 9.52382 67.7146 9.52382 69.048C9.52382 70.3813 8.4762 71.4289 7.14286 71.4289H2.38095C1.04762 71.4289 0 70.3813 0 69.048C0 67.7146 1.04762 66.667 2.38095 66.667Z"
                  fill="#BF85BF"></path>
                <path
                  id="Rectangle_23_"
                  d="M59.5239 28.572H83.3333C84.6666 28.572 85.7143 29.6196 85.7143 30.9529C85.7143 32.2862 84.6666 33.3338 83.3333 33.3338H59.5239C58.1906 33.3338 57.1429 32.2862 57.1429 30.9529C57.1429 29.6196 58.1906 28.572 59.5239 28.572Z"
                  fill="#EA5E5E"></path>
                <path
                  id="Rectangle_24_"
                  d="M59.5239 38.0957H83.3333C84.6666 38.0957 85.7143 39.1433 85.7143 40.4767C85.7143 41.81 84.6666 42.8577 83.3333 42.8577H59.5239C58.1906 42.8577 57.1429 41.81 57.1429 40.4767C57.1429 39.1433 58.1906 38.0957 59.5239 38.0957Z"
                  fill="#F7BA3E"></path>
                <path
                  id="Rectangle_25_"
                  d="M2.38095 0.000488281H59.5238C60.8571 0.000488281 61.9048 1.04811 61.9048 2.38144C61.9048 3.71477 60.8571 4.76239 59.5238 4.76239H2.38095C1.04762 4.76239 0 3.71477 0 2.38144C0 1.04811 1.04762 0.000488281 2.38095 0.000488281Z"
                  fill="#56B3B4"></path>
                <path
                  id="Rectangle_26_"
                  opacity="0.5"
                  d="M69.0477 0.000488281H97.6191C98.9525 0.000488281 100 1.04811 100 2.38144C100 3.71477 98.9525 4.76239 97.6191 4.76239H69.0477C67.7144 4.76239 66.6667 3.71477 66.6667 2.38144C66.6667 1.04811 67.7144 0.000488281 69.0477 0.000488281Z"
                  fill="#D0D4D8"></path>
                <path
                  id="Rectangle_27_"
                  opacity="0.5"
                  d="M69.0477 66.667H78.5715C79.9048 66.667 80.9524 67.7146 80.9524 69.048C80.9524 70.3813 79.9048 71.4289 78.5715 71.4289H69.0477C67.7144 71.4289 66.6667 70.3813 66.6667 69.048C66.6667 67.7146 67.7144 66.667 69.0477 66.667Z"
                  fill="#D0D4D8"></path>
                <path
                  id="Rectangle_28_"
                  opacity="0.5"
                  d="M88.0953 66.667H97.6192C98.9525 66.667 100 67.7146 100 69.048C100 70.3813 98.9525 71.4289 97.6192 71.4289H88.0953C86.762 71.4289 85.7144 70.3813 85.7144 69.048C85.7144 67.7146 86.762 66.667 88.0953 66.667Z"
                  fill="#D0D4D8"></path>
                <path
                  id="Rectangle_29_"
                  opacity="0.5"
                  d="M83.3334 57.1436H97.6191C98.9524 57.1436 100 58.1911 100 59.5244C100 60.8577 98.9524 61.9052 97.6191 61.9052H83.3334C82 61.9052 80.9524 60.8577 80.9524 59.5244C80.9524 58.1911 82 57.1436 83.3334 57.1436Z"
                  fill="#D0D4D8"></path>
                <path
                  id="Rectangle_30_"
                  opacity="0.5"
                  d="M83.3334 9.52441H97.6191C98.9524 9.52441 100 10.572 100 11.9054C100 13.2387 98.9524 14.2863 97.6191 14.2863H83.3334C82 14.2863 80.9524 13.2387 80.9524 11.9054C80.9524 10.572 82 9.52441 83.3334 9.52441Z"
                  fill="#D0D4D8"></path>
                <path
                  id="Rectangle_31_"
                  opacity="0.5"
                  d="M88.0953 47.6196H97.6192C98.9525 47.6196 100 48.6672 100 50.0005C100 51.3338 98.9525 52.3814 97.6192 52.3814H88.0953C86.762 52.3814 85.7144 51.3338 85.7144 50.0005C85.7144 48.6672 86.762 47.6196 88.0953 47.6196Z"
                  fill="#D0D4D8"></path>
                <path
                  id="Rectangle_32_"
                  opacity="0.5"
                  d="M88.0953 19.0481H97.6192C98.9525 19.0481 100 20.0957 100 21.429C100 22.7624 98.9525 23.81 97.6192 23.81H88.0953C86.762 23.81 85.7144 22.7624 85.7144 21.429C85.7144 20.0957 86.762 19.0481 88.0953 19.0481Z"
                  fill="#D0D4D8"></path>
                <path
                  id="Rectangle_33_"
                  opacity="0.5"
                  d="M92.8572 28.572H97.6191C98.9524 28.572 100 29.6196 100 30.9529C100 32.2862 98.9524 33.3338 97.6191 33.3338H92.8572C91.5238 33.3338 90.4762 32.2862 90.4762 30.9529C90.4762 29.6196 91.5238 28.572 92.8572 28.572Z"
                  fill="#D0D4D8"></path>
                <path
                  id="Rectangle_34_"
                  opacity="0.5"
                  d="M92.8572 38.0957H97.6191C98.9524 38.0957 100 39.1433 100 40.4767C100 41.81 98.9524 42.8577 97.6191 42.8577H92.8572C91.5238 42.8577 90.4762 41.81 90.4762 40.4767C90.4762 39.1433 91.5238 38.0957 92.8572 38.0957Z"
                  fill="#D0D4D8"></path>
                <path
                  id="Rectangle_35_"
                  opacity="0.5"
                  d="M54.762 76.1909H97.6191C98.9524 76.1909 100 77.2385 100 78.5719C100 79.9052 98.9524 80.9528 97.6191 80.9528H54.762C53.4287 80.9528 52.3811 79.9052 52.3811 78.5719C52.3811 77.2385 53.4287 76.1909 54.762 76.1909Z"
                  fill="#D0D4D8"></path>
                <path
                  id="Rectangle_36_"
                  opacity="0.5"
                  d="M35.7142 76.1909H45.238C46.5714 76.1909 47.619 77.2385 47.619 78.5719C47.619 79.9052 46.5714 80.9528 45.238 80.9528H35.7142C34.3809 80.9528 33.3333 79.9052 33.3333 78.5719C33.3333 77.2385 34.3809 76.1909 35.7142 76.1909Z"
                  fill="#D0D4D8"></path>
                <path
                  id="Rectangle_37_"
                  opacity="0.5"
                  d="M73.8096 95.2388H97.6192C98.9525 95.2388 100 96.2864 100 97.6197C100 98.9531 98.9525 100.001 97.6192 100.001H73.8096C72.4762 100.001 71.4286 98.9531 71.4286 97.6197C71.4286 96.2864 72.4762 95.2388 73.8096 95.2388Z"
                  fill="#D0D4D8"></path>
                <path
                  id="Rectangle_38_"
                  opacity="0.5"
                  d="M35.7142 95.2388H64.2856C65.6189 95.2388 66.6665 96.2864 66.6665 97.6197C66.6665 98.9531 65.6189 100.001 64.2856 100.001H35.7142C34.3809 100.001 33.3333 98.9531 33.3333 97.6197C33.3333 96.2864 34.3809 95.2388 35.7142 95.2388Z"
                  fill="#D0D4D8"></path>
                <path
                  id="Rectangle_39_"
                  opacity="0.5"
                  d="M35.7142 28.572H50C51.3334 28.572 52.381 29.6196 52.381 30.9529C52.381 32.2862 51.3334 33.3338 50 33.3338H35.7142C34.3809 33.3338 33.3333 32.2862 33.3333 30.9529C33.3333 29.6196 34.3809 28.572 35.7142 28.572Z"
                  fill="#D0D4D8"></path>
                <path
                  id="Rectangle_40_"
                  opacity="0.5"
                  d="M35.7142 38.0957H50C51.3334 38.0957 52.381 39.1433 52.381 40.4767C52.381 41.81 51.3334 42.8577 50 42.8577H35.7142C34.3809 42.8577 33.3333 41.81 33.3333 40.4767C33.3333 39.1433 34.3809 38.0957 35.7142 38.0957Z"
                  fill="#D0D4D8"></path>
              </g>
            </g>
          </svg>

          <p>Prettier</p>
        </li>
        <li
          class="inline-flex items-center gap-1 rounded-md bg-blue-100 px-2 py-1.5 text-sm font-medium text-blue-800"
        >
          <svg
            width="100"
            height="100"
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="postgresql">
              <g id="postgresql_2">
                <path
                  id="Vector"
                  d="M98.4716 59.9027C97.8902 58.137 96.3673 56.9072 94.3978 56.6121C93.4691 56.4731 92.4055 56.5323 91.1469 56.7925C88.9532 57.2464 87.3257 57.4192 86.138 57.4526C90.6212 49.8623 94.2667 41.2068 96.3654 33.059C99.759 19.8842 97.9455 13.8823 95.8264 11.1675C90.2183 3.98172 82.0361 0.121465 72.1652 0.00334804C66.8994 -0.0612175 62.2768 0.981325 59.8653 1.73104C57.62 1.33378 55.2059 1.11198 52.6728 1.07096C47.9244 0.994998 43.729 2.03298 40.1442 4.1663C38.1595 3.4933 34.9742 2.54457 31.2958 1.93917C22.6444 0.514935 15.6716 1.6247 10.5714 5.23771C4.3955 9.61221 1.53253 17.2127 2.06202 27.828C2.23018 31.1984 4.1103 41.4529 7.0706 51.178C8.77195 56.7678 10.5862 61.4097 12.4629 64.976C15.1243 70.033 17.9722 73.011 21.1692 74.0805C22.961 74.679 26.2168 75.0983 29.6411 72.2385C30.0751 72.7656 30.6542 73.2894 31.4227 73.7759C32.3987 74.3931 33.5922 74.8974 34.7841 75.1963C39.0795 76.273 43.1029 76.0038 46.5356 74.4945C46.5568 75.1067 46.573 75.6916 46.5867 76.1967C46.6094 77.0159 46.6321 77.8192 46.6621 78.5704C46.8654 83.6498 47.2101 87.5994 48.2312 90.3628C48.2873 90.5147 48.3626 90.7464 48.4422 90.9921C48.9516 92.5561 49.8034 95.1744 51.9706 97.2249C54.2147 99.3491 56.9292 100 59.4153 100C60.6622 100 61.8518 99.8364 62.8953 99.6123C66.6146 98.8129 70.8388 97.5952 73.8945 93.2321C76.7836 89.1075 78.188 82.8952 78.4422 73.1067C78.4751 72.8298 78.5054 72.5655 78.5346 72.3137L78.5952 71.7964L79.2758 71.8564L79.4512 71.8682C83.2394 72.0414 87.8715 71.2358 90.7163 69.9107C92.9642 68.8647 100.168 65.0512 98.4716 59.9027Z"
                  fill="black"></path>
                <path
                  id="Vector_2"
                  d="M91.9943 60.9039C80.7303 63.234 79.9558 59.4098 79.9558 59.4098C91.8485 41.7139 96.8204 19.2515 92.5303 13.7539C80.8254 -1.24237 60.5641 5.84997 60.2259 6.0338L60.1172 6.05354C57.8917 5.59019 55.4014 5.31446 52.6021 5.2685C47.5056 5.18495 43.6393 6.60843 40.7055 8.83936C40.7055 8.83936 4.56141 -6.092 6.24268 27.6181C6.60022 34.7894 16.4932 81.8809 28.2927 67.6571C32.6056 62.4558 36.773 58.0581 36.773 58.0581C38.8424 59.4367 41.3202 60.1401 43.9177 59.8876L44.1196 59.7159C44.0567 60.3615 44.0855 60.9931 44.2002 61.741C41.1604 65.1466 42.0539 65.7444 35.9772 66.9989C29.8282 68.2697 33.4403 70.5318 35.7988 71.1235C38.658 71.8402 45.2725 72.8557 49.7417 66.5819L49.5637 67.2978C50.7545 68.2545 51.5908 73.52 51.4507 78.2937C51.3105 83.067 51.217 86.3443 52.1551 88.9041C53.0941 91.4639 54.0292 97.2236 62.0178 95.5072C68.6925 94.0728 72.1516 90.3557 72.633 84.1551C72.9743 79.7472 73.7473 80.3989 73.7958 76.4577L74.4158 74.5922C75.1305 68.6168 74.5294 66.689 78.6415 67.5857L79.6414 67.6738C82.6676 67.8117 86.6293 67.1854 88.9545 66.1018C93.9608 63.7721 96.9302 59.8819 91.9936 60.9039H91.9943Z"
                  fill="#336791"></path>
                <path
                  id="Vector_3"
                  d="M42.8212 30.8251C41.8062 30.6834 40.8869 30.8144 40.4218 31.1676C40.1605 31.3663 40.0794 31.5964 40.0575 31.7548C39.9991 32.1745 40.2923 32.6386 40.4726 32.8779C40.9824 33.5554 41.727 34.021 42.4641 34.1236C42.5709 34.1388 42.6773 34.1456 42.783 34.1456C44.012 34.1456 45.1297 33.1859 45.2282 32.4775C45.3513 31.5903 44.0669 30.999 42.8212 30.8254V30.8251ZM76.4482 30.8532C76.3512 30.1578 75.1172 29.9595 73.9461 30.1228C72.7766 30.2861 71.6426 30.8156 71.7373 31.5125C71.813 32.0545 72.789 32.9796 73.9442 32.9796C74.042 32.9796 74.1404 32.9732 74.2397 32.9591C75.0108 32.852 75.5766 32.361 75.8456 32.078C76.2546 31.6466 76.4917 31.1657 76.4482 30.8532Z"
                  fill="white"></path>
                <path
                  id="Vector_4"
                  d="M95.7425 60.6392C95.313 59.3368 93.9306 58.9179 91.6339 59.3934C84.8145 60.8048 82.3723 59.8272 81.5705 59.2351C86.8711 51.1378 91.2316 41.3496 93.584 32.2174C94.6983 27.8915 95.3138 23.874 95.3642 20.5994C95.4198 17.0053 94.8093 14.3642 93.5503 12.7508C88.4743 6.2468 81.0243 2.75798 72.0063 2.66227C65.8065 2.59238 60.5684 4.18336 59.5529 4.63076C57.4145 4.09752 55.0833 3.77014 52.5453 3.72836C47.8912 3.65278 43.8681 4.77014 40.5374 7.04779C39.0906 6.50772 35.3515 5.22058 30.7789 4.48188C22.8736 3.20576 16.5917 4.17272 12.1088 7.35733C6.75968 11.1576 4.29022 17.9506 4.76858 27.5474C4.92955 30.776 6.76422 40.7085 9.65939 50.2206C13.4704 62.7402 17.6131 69.8276 21.9718 71.2857C22.482 71.4562 23.0702 71.5755 23.719 71.5755C25.309 71.5755 27.2584 70.8569 29.2866 68.4117C31.7604 65.4359 34.3195 62.5322 36.9605 59.7045C38.6739 60.6266 40.5563 61.1416 42.4815 61.1933C42.4853 61.2438 42.4902 61.2943 42.4948 61.3445C42.1634 61.7407 41.8389 62.1427 41.5214 62.5503C40.1874 64.2484 39.9098 64.602 35.6159 65.4884C34.3944 65.7414 31.1504 66.4117 31.1027 68.692C31.0512 71.1835 34.9376 72.2299 35.3803 72.3408C36.9234 72.7281 38.41 72.9192 39.8276 72.9192C43.2754 72.9192 46.3096 71.7828 48.7343 69.5842C48.6597 78.4661 49.029 87.2182 50.0925 89.8848C50.9636 92.0678 53.0915 97.4028 59.8128 97.4025C60.799 97.4025 61.8845 97.2874 63.0787 97.0307C70.0936 95.5229 73.1399 92.4138 74.3181 85.5596C74.9488 81.8965 76.0309 73.1493 76.5399 68.4573C77.614 68.7934 78.9968 68.9473 80.4918 68.9469C83.6097 68.9469 87.2074 68.2826 89.4636 67.2325C91.9982 66.0521 96.572 63.1557 95.7425 60.6392ZM79.0374 28.9336C79.0143 30.3188 78.8241 31.5763 78.6227 32.8889C78.4056 34.3006 78.1814 35.7601 78.125 37.5319C78.0693 39.2562 78.284 41.0488 78.4916 42.7826C78.9113 46.2843 79.3419 49.8894 77.675 53.4466C77.3981 52.9546 77.1515 52.4461 76.9365 51.924C76.7293 51.4203 76.2793 50.6114 75.6563 49.4917C73.2327 45.1332 67.5571 34.9265 70.4625 30.7616C71.3279 29.522 73.5243 28.2474 79.0374 28.9336ZM72.3547 5.46707C80.435 5.64596 86.8268 8.67713 91.3521 14.4759C94.8229 18.9237 91.001 39.162 79.9365 56.6217C79.8253 56.4798 79.7134 56.3384 79.601 56.1974L79.4608 56.022C82.32 51.287 81.761 46.6022 81.2633 42.4488C81.0588 40.7442 80.8656 39.1343 80.9148 37.6219C80.9656 36.0192 81.1769 34.6443 81.3815 33.315C81.6326 31.6769 81.8882 29.9819 81.8178 27.9838C81.8704 27.7741 81.8916 27.5265 81.864 27.2325C81.6841 25.3165 79.5025 19.5819 75.056 14.3916C72.6236 11.5526 69.0766 8.37557 64.2335 6.23275C66.3167 5.79978 69.1653 5.39605 72.3547 5.46707ZM27.1402 66.6221C24.9056 69.3164 23.3626 68.7999 22.8551 68.6305C19.5486 67.5245 15.7118 60.5165 12.3292 49.4036C9.40222 39.7879 7.69178 30.1186 7.55619 27.4072C7.12896 18.8322 9.20186 12.856 13.7177 9.64447C21.067 4.41845 33.1499 7.54647 38.0051 9.13288C37.9354 9.20201 37.8627 9.26657 37.7937 9.33683C29.8263 17.4053 30.0153 31.1904 30.035 32.0332C30.0343 32.3583 30.0615 32.8186 30.0987 33.4517C30.2358 35.7704 30.491 40.0857 29.8093 44.9725C29.176 49.5138 30.5721 53.9585 33.6388 57.1674C33.9536 57.4961 34.2844 57.809 34.63 58.1048C33.265 59.5708 30.2983 62.8128 27.1402 66.6221ZM35.6542 55.2309C33.1824 52.6444 32.0598 49.047 32.5738 45.3599C33.2934 40.1977 33.0279 35.7016 32.8851 33.2861C32.8651 32.9481 32.8472 32.6519 32.837 32.4183C34.0009 31.3833 39.3947 28.4855 43.2413 29.3693C44.9964 29.7722 46.066 30.9709 46.5107 33.0324C48.812 43.7059 46.8152 48.1545 45.2108 51.7295C44.8801 52.4659 44.5677 53.1621 44.301 53.8822L44.0942 54.439C43.5708 55.8465 43.0837 57.1553 42.7819 58.398C40.1541 58.3904 37.5979 57.2647 35.6542 55.2305V55.2309ZM36.0575 69.6252C35.2902 69.433 34.6001 69.0992 34.1952 68.8223C34.5334 68.6628 35.1353 68.4455 36.1791 68.2298C41.2305 67.1873 42.0107 66.4512 43.7144 64.2822C44.1048 63.7847 44.5476 63.221 45.1608 62.5344L45.1616 62.5336C46.0747 61.5082 46.4925 61.6821 47.25 61.9973C47.8639 62.2518 48.462 63.0235 48.7044 63.8728C48.8192 64.2738 48.9479 65.035 48.5264 65.6274C44.9676 70.6241 39.7818 70.5599 36.0575 69.6252ZM62.4939 94.2938C56.3142 95.6216 54.1262 92.4598 52.6843 88.8452C51.7537 86.5118 51.2962 75.9891 51.6208 64.3684C51.6249 64.2138 51.603 64.0646 51.5605 63.924C51.5226 63.6466 51.4649 63.3721 51.3878 63.1029C50.9053 61.4121 49.7293 59.9977 48.3184 59.4113C47.7579 59.1785 46.7292 58.7512 45.493 59.0683C45.7566 57.9791 46.2137 56.7489 46.7095 55.417L46.9174 54.8568C47.1515 54.2251 47.4454 53.5708 47.756 52.878C49.435 49.1378 51.7344 44.0147 49.2388 32.4411C48.3041 28.1061 45.1824 25.9891 40.4503 26.4809C37.6134 26.7753 35.0179 27.923 33.7233 28.5812C33.4449 28.7225 33.1904 28.8592 32.9525 28.9921C33.3139 24.6245 34.6789 16.4618 39.7852 11.2974C43.0004 8.04628 47.2822 6.4405 52.4991 6.52709C62.7784 6.69572 69.3702 11.9855 73.0902 16.3939C76.296 20.1922 78.0318 24.0187 78.7245 26.0825C73.5148 25.5512 69.9716 26.5823 68.1756 29.1573C64.268 34.7586 70.3132 45.6299 73.2186 50.8548C73.7515 51.8123 74.2113 52.6399 74.356 52.9916C75.3021 55.2909 76.527 56.826 77.4212 57.9464C77.6955 58.2897 77.9613 58.6228 78.1636 58.9137C76.5857 59.3699 73.7515 60.4238 74.0098 65.692C73.8015 68.3354 72.3202 80.7115 71.5677 85.0841C70.5742 90.8608 68.4543 93.0124 62.4939 94.2942V94.2938ZM88.2884 64.6939C86.6749 65.4448 83.9748 66.008 81.4099 66.1292C78.5768 66.2621 77.1345 65.8109 76.7952 65.5332C76.6361 62.2503 77.8545 61.9073 79.1442 61.5442C79.3468 61.4873 79.5445 61.4314 79.7354 61.3646C79.854 61.4614 79.9839 61.5575 80.1263 61.6517C82.4033 63.1588 86.4647 63.3213 92.1986 62.1344L92.2615 62.1219C91.488 62.8469 90.1647 63.82 88.2884 64.6939Z"
                  fill="white"></path>
              </g>
            </g>
          </svg>

          <p>Postgres</p>
        </li>
      </ul>
    </HeadingLabel>

    <HeadingLabel title="Data Scientist">
      <Image
        src="/images/cnn.webp"
        alt="convolutional neural network layout"
        width={512}
        height={512}
        class="w-full rounded"
      />

      <p>
        Why not start by showcasing my exploratory skills with the <a
          href="https://www.kaggle.com/code/ashishk1331/iris-dataset"
          >Iris dataset</a
        >? I've used Pandas, NumPy, Seaborn, and Scikit-learn to perform EDA,
        visualization, and model training on it. Datasets I've worked with for <em
          >Linear Regression</em
        > and <em>Classification</em> problems: <a
          href="https://www.kaggle.com/code/ashishk1331/palmer-penguins"
        >
          Palmer Penguins
        </a>, <a href="https://www.kaggle.com/code/ashishk1331/iris-dataset">
          Iris Dataset
        </a> and <a href="https://www.kaggle.com/code/ashishk1331/80-cereals">
          80 Cereals Dataset
        </a>. Here, some <em>NLP</em> problem notebooks <a
          href="https://www.kaggle.com/code/ashishk1331/twitter-sentiment-analysis"
        >
          Twitter Sentiment Analysis
        </a>. Also, the modern art of <em>Neural Network</em> displayed in <a
          href="https://www.kaggle.com/code/ashishk1331/mnist-dataset"
        >
          MNIST digits dataset
        </a>
      </p>

      <ol class="list-decimal marker:text-primary/75 [&>li]:ml-4 [&>li]:pl-2">
        <p>Data Science Profiles:</p>
        <li>
          <a href="https://www.kaggle.com/ashishk1331">ashishk1331 @ Kaggle</a>
        </li>
        <li>
          <a href="https://profiles.datawars.io/flangdev3000"
            >flangdev3000 @ Datawars</a
          >
        </li>
      </ol>

      <ul class="flex flex-wrap gap-2 [&_svg]:size-5">
        <li class="w-full">Tools used:</li>
        <li
          class="inline-flex items-center gap-1 rounded-md bg-yellow-100 px-2 py-1.5 text-sm font-medium text-yellow-800"
        >
          <svg
            viewBox="0 0 100 100"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="pytorch">
              <g id="pytorch_2">
                <path
                  id="Vector"
                  d="M75.5 31.7991L68.9 38.3992C79.7 49.1992 79.7 66.5992 68.9 77.1992C58.1 87.9992 40.7 87.9992 30.1 77.1992C19.3 66.3992 19.3 48.9992 30.1 38.3992L47.2 21.2991L49.6 18.8992V5.99915L23.8 31.7991C9.4 46.1991 9.4 69.3991 23.8 83.7991C38.2 98.1991 61.4 98.1991 75.5 83.7991C89.9 69.2991 89.9 46.1991 75.5 31.7991Z"
                  fill="#EE4C2C"></path>
                <path
                  id="Vector_2"
                  d="M62.5998 30.1988C65.2508 30.1988 67.3998 28.0498 67.3998 25.3988C67.3998 22.7478 65.2508 20.5988 62.5998 20.5988C59.9488 20.5988 57.7998 22.7478 57.7998 25.3988C57.7998 28.0498 59.9488 30.1988 62.5998 30.1988Z"
                  fill="#EE4C2C"></path>
              </g>
            </g>
          </svg>
          <p>PyTorch</p>
        </li>
        <li
          class="inline-flex items-center gap-1 rounded-md bg-blue-100 px-2 py-1.5 text-sm font-medium text-blue-800"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
            <polygon
              fill="#00acc1"
              points="21.196,12.276 14.392,8.842 6.922,12.569 13.912,16.078"
            ></polygon><polygon
              fill="#00acc1"
              points="24.317,13.85 31.451,17.453 24.049,21.169 17.049,17.654"
            ></polygon><polygon
              fill="#00acc1"
              points="33.846,8.893 41.176,12.569 34.619,15.86 27.47,12.254"
            ></polygon><polygon
              fill="#00acc1"
              points="30.69,7.31 24.091,4 17.564,7.258 24.364,10.687"
            ></polygon><polygon
              fill="#00acc1"
              points="25.532,35.725 25.532,44.73 33.525,40.74 33.518,31.732"
            ></polygon><polygon
              fill="#00acc1"
              points="33.514,28.587 33.505,19.674 25.532,23.637 25.532,32.554"
            ></polygon><polygon
              fill="#00acc1"
              points="43.111,26.918 43.111,35.957 36.292,39.359 36.287,30.361"
            ></polygon><polygon
              fill="#00acc1"
              points="43.111,23.756 43.111,14.898 36.279,18.294 36.285,27.225"
            ></polygon><path
              fill="#448aff"
              d="M22.71,23.637l-5.384-2.708v11.699c0,0-6.586-14.012-7.195-15.27 c-0.079-0.163-0.401-0.341-0.484-0.385C8.46,16.353,5,14.601,5,14.601v20.676l4.787,2.566V27.031c0,0,6.515,12.52,6.582,12.657 s0.718,1.455,1.418,1.919c0.929,0.618,4.919,3.016,4.919,3.016L22.71,23.637z"
            ></path>
          </svg>
          <p>Numpy</p>
        </li>

        <li
          class="inline-flex items-center gap-1 rounded-md bg-blue-100 px-2 py-1.5 text-sm font-medium text-blue-800"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
            <rect width="5" height="10" x="18" y="4" fill="#1a237e"></rect><rect
              width="5"
              height="10"
              x="18"
              y="25"
              fill="#1a237e"></rect><rect
              width="5"
              height="5"
              x="18"
              y="17"
              fill="#fbc02d"></rect><rect
              width="5"
              height="33"
              x="10"
              y="13"
              fill="#1a237e"></rect><rect
              width="5"
              height="10"
              x="26"
              y="33"
              fill="#1a237e"></rect><rect
              width="5"
              height="10"
              x="26"
              y="12"
              fill="#1a237e"></rect><rect
              width="5"
              height="5"
              x="26"
              y="25"
              fill="#ff4081"></rect><rect
              width="5"
              height="33"
              x="34"
              y="2"
              fill="#1a237e"></rect>
          </svg>
          <p>Pandas</p>
        </li>

        <li
          class="inline-flex items-center gap-1 rounded-md bg-red-100 px-2 py-1.5 text-sm font-medium text-red-800"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
            <path
              fill="#c62828"
              d="M31.986,22.394L24.733,11.34c-0.346-0.527-1.119-0.527-1.466,0l-7.253,11.054  c-0.165,0.252-0.496,0.337-0.762,0.196L1.075,15.072c-0.6-0.318-1.271,0.283-1.021,0.915L7.46,34.66  c0.309,0.779,1.011,1.332,1.841,1.452c2.314,0.336,7.493,0.942,14.699,0.942c7.207,0,12.385-0.607,14.699-0.942 c0.829-0.12,1.532-0.673,1.841-1.452l7.406-18.674c0.25-0.631-0.421-1.233-1.021-0.915l-14.177,7.517 C32.482,22.731,32.151,22.646,31.986,22.394z"
            ></path><path
              fill="#e53935"
              d="M40.315,35.089c-0.362,0.549-0.947,0.926-1.616,1.022c-2.314,0.336-7.493,0.944-14.7,0.944 c-7.204,0-12.384-0.608-14.698-0.944c-0.83-0.12-1.531-0.672-1.84-1.452L0.055,15.986c-0.251-0.631,0.421-1.233,1.02-0.914  l14.178,7.517c0.266,0.143,0.596,0.058,0.762-0.196l7.254-11.052c0.345-0.529,1.119-0.529,1.464,0l7.254,11.052L40.315,35.089z"
            ></path><path
              fill="#ef5350"
              d="M39.829,35.621c-0.321,0.257-0.71,0.429-1.131,0.491c-2.314,0.336-7.49,0.944-14.698,0.944  c-7.207,0-12.387-0.608-14.7-0.944c-0.83-0.12-1.531-0.672-1.84-1.452L0.054,15.987c-0.251-0.631,0.421-1.233,1.02-0.914  l14.178,7.517L39.829,35.621z"
            ></path>
          </svg>
          <p>Streamlit</p>
        </li>

        <li
          class="inline-flex items-center gap-1 rounded-md bg-yellow-100 px-2 py-1.5 text-sm font-medium text-yellow-800"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
            <polygon fill="#ffa000" points="16,39.609 23,43.609 23,4 16,8"
            ></polygon><polygon
              fill="#ffa000"
              points="23,12.433 6,22.25 6,13.75 23,3.933"></polygon><polygon
              fill="#ffb300"
              points="32,39.609 25,43.609 25,4 32,8"></polygon><polygon
              fill="#ffb300"
              points="25,12.433 42,22.25 42,13.75 25,3.933"></polygon><polygon
              fill="#ffb300"
              points="29,19.732 29,27.365 36,31.407 36,23.775"></polygon>
          </svg>
          <p>TensorFlow</p>
        </li>
        <li
          class="inline-flex items-center gap-1 rounded-md bg-rose-100 px-2 py-1.5 text-sm font-medium text-rose-800"
        >
          <p>Scikit-learn</p>
        </li>
        <li
          class="inline-flex items-center gap-1 rounded-md bg-emerald-100 px-2 py-1.5 text-sm font-medium text-emerald-800"
        >
          <p>Matplotlib</p>
        </li>
        <li
          class="inline-flex items-center gap-1 rounded-md bg-pink-100 px-2 py-1.5 text-sm font-medium text-pink-800"
        >
          <p>Seaborn</p>
        </li>
      </ul>
    </HeadingLabel>
  </main>

  <HeadingLabel title="Challenge Architect">
    <Image
      src="/images/challenges-banner.webp"
      alt="CTN challenge banner"
      width={512}
      height={512}
      class="w-full rounded"
    />
    <p>
      Do you like challenges? So do I. Here are a few for you to try like <Label
        {...PROJECTS["crack_the_nut_data"]}
      /> and <Label {...PROJECTS["days_of_code_data"]} />. Although the 100-day
      challenge is still a work in progress, you can get a taste of what it will
      offer from the website.
    </p>
  </HeadingLabel>

  <HeadingLabel title="Pythonista">
    <Image
      src="/images/bleach-db.webp"
      alt="banner for Bleach DB"
      width={512}
      height={512}
      class="w-full rounded"
    />

    <p>
      I adore python. Only the computer language! I've used it to do web
      scraping, building APIs and even for image processing. The <Label
        {...PROJECTS["bleach_db_data"]}
      />, <Label {...PROJECTS["image_algos_data"]} /> and <Label
        {...PROJECTS["bf_compiler_data"]}
      /> are written in python. The simplicity of Python has captivated me for years.
      You can write Python as if you were reading English. Here are few lines from
      the zen of python one could also apply in their daily lives.
    </p>

    <blockquote class="italic">
      If the implementation is hard to explain, it's a bad idea.
      <br />
      If the implementation is easy to explain, it may be a good idea.
    </blockquote>

    <ul class="flex flex-wrap gap-2 [&_svg]:size-5">
      <li class="w-full">Tools used:</li>
      <li
        class="inline-flex items-center gap-1 rounded-md bg-yellow-100 px-2 py-1.5 text-sm font-medium text-yellow-800"
      >
        <svg
          width="100"
          height="100"
          viewBox="0 0 100 100"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="python">
            <g id="python_2">
              <path
                id="Vector"
                d="M49.6397 0.000488281C24.2535 0.000488281 25.8385 11.0095 25.8385 11.0095L25.8667 22.4151H50.0924V25.8394H16.2447C16.2447 25.8394 0 23.9971 0 49.6116C0 75.2269 14.1788 74.3185 14.1788 74.3185H22.6406V62.432C22.6406 62.432 22.1844 48.2532 36.593 48.2532H60.6205C60.6205 48.2532 74.1199 48.4713 74.1199 35.2065V13.2739C74.1199 13.2739 76.1702 0.000488281 49.6397 0.000488281ZM36.2817 7.67056C36.8542 7.67004 37.4211 7.78242 37.9501 8.00125C38.4791 8.22009 38.9598 8.54109 39.3646 8.94589C39.7693 9.35068 40.0903 9.83133 40.3092 10.3603C40.528 10.8893 40.6404 11.4563 40.6399 12.0287C40.6404 12.6012 40.528 13.1681 40.3092 13.6971C40.0903 14.2261 39.7693 14.7068 39.3646 15.1116C38.9598 15.5164 38.4791 15.8374 37.9501 16.0562C37.4211 16.275 36.8542 16.3874 36.2817 16.3869C35.7092 16.3874 35.1423 16.275 34.6133 16.0562C34.0843 15.8374 33.6037 15.5164 33.1989 15.1116C32.7941 14.7068 32.4731 14.2261 32.2542 13.6971C32.0354 13.1681 31.923 12.6012 31.9235 12.0287C31.923 11.4563 32.0354 10.8893 32.2542 10.3603C32.4731 9.83133 32.7941 9.35068 33.1989 8.94589C33.6037 8.54109 34.0843 8.22009 34.6133 8.00125C35.1423 7.78242 35.7092 7.67004 36.2817 7.67056Z"
                fill="url(#paint0_linear_790_3246)"></path>
              <path
                id="Vector_2"
                d="M50.3607 99.4806C75.747 99.4806 74.1619 88.4715 74.1619 88.4715L74.1337 77.0663H49.9076V73.642H83.7553C83.7553 73.642 100 75.4843 100 49.869C100 24.254 85.8213 25.1624 85.8213 25.1624H77.3594V37.0486C77.3594 37.0486 77.8156 51.2273 63.407 51.2273H39.3795C39.3795 51.2273 25.8801 51.0092 25.8801 64.2745V86.2075C25.8801 86.2075 23.8302 99.4806 50.3603 99.4806H50.3607ZM63.7187 91.8112C63.1462 91.8118 62.5793 91.6994 62.0503 91.4806C61.5213 91.2617 61.0407 90.9407 60.6359 90.5359C60.2311 90.1311 59.9101 89.6505 59.6912 89.1215C59.4724 88.5925 59.36 88.0255 59.3605 87.4531C59.36 86.8806 59.4723 86.3136 59.6911 85.7845C59.9099 85.2555 60.2309 84.7748 60.6357 84.37C61.0405 83.9651 61.5212 83.6441 62.0502 83.4252C62.5792 83.2064 63.1462 83.094 63.7187 83.0945C64.2912 83.094 64.8581 83.2064 65.3871 83.4252C65.9161 83.644 66.3968 83.965 66.8015 84.3698C67.2063 84.7746 67.5273 85.2553 67.7462 85.7843C67.965 86.3133 68.0774 86.8802 68.0769 87.4527C68.0774 88.0251 67.965 88.5921 67.7462 89.1211C67.5273 89.6501 67.2063 90.1307 66.8015 90.5355C66.3968 90.9403 65.9161 91.2613 65.3871 91.4802C64.8581 91.699 64.2912 91.8114 63.7187 91.8109V91.8112Z"
                fill="url(#paint1_linear_790_3246)"></path>
            </g>
          </g>
          <defs>
            <linearGradient
              id="paint0_linear_790_3246"
              x1="9.60996"
              y1="8.94811"
              x2="59.1669"
              y2="58.0107"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#387EB8"></stop>
              <stop offset="1" stop-color="#366994"></stop>
            </linearGradient>
            <linearGradient
              id="paint1_linear_790_3246"
              x1="40.0281"
              y1="40.4532"
              x2="93.2466"
              y2="90.7623"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#FFE052"></stop>
              <stop offset="1" stop-color="#FFC331"></stop>
            </linearGradient>
          </defs>
        </svg>

        <p>Python</p>
      </li>
    </ul>
  </HeadingLabel>

  <FeatherAd />

  <AppDeveloper />

  <DesignAngle />

  <p>
    For my next projects, I'm building a mini ORM for python's sqlite3 module
    and bringing power of xml-like syntax to fastHTML.
  </p>

  <p>
    I aim to write more, so I started working on this template. You can expect
    blogs from me nowmaybe one each week. Share your thoughts on Twitter <a
      href="https://twitter.com/AshishK1331"><i>@ashishk1331</i></a
    >. I'd love to hear from you!
  </p>

  <HeadingLabel title="Asides">
    <div class="grid grid-cols-3">
      {
        ["hurry-up-tomorrow", "gnx", "chromakopia"].map((slug) => (
          <Image
            src={`/images/${slug}.webp`}
            alt={slug}
            width={512}
            height={512}
          />
        ))
      }
    </div>
    <p>
      My top 3 albums right now!

      <br />

      I've spent the last few months listening to "Hurry Up Tomorrow" by The
      Weeknd, who recently announced that this will be his last album and that
      he'll be retiring his stage name. Man! The vocals on "HUT" are
      angelicexemplary! Speaking of exemplary, Kendrick Lamar's growing
      influence and chance to perform at the Super Bowl halftime show are
      shining examples of his success.

      <br />

      "CHROMAKOPIA" is a great album. I spent all of November listening to
      Tyler. He really put out some great work for us to appreciate. 2024 was
      packed with great albums and projects.

      <br />

      This year, I've also spent most of my time listening to Kanye West. He's
      the GOAT, no doubt. "Flashing Lights" has been on repeat since last year.
      Then, Billie also dropped "Hit Me Hard and Soft," which was exactly the
      experience I needed to cure my winter blues. Finneas did a fantastic job
      with production.
    </p>
  </HeadingLabel>

  <hr class="border-primary/75" />

  <h2 class="underline decoration-primary decoration-wavy underline-offset-4">
    Latest Blog Posts
  </h2>

  <Image
    src="/images/blog-banner.webp"
    alt="Banner for blog section"
    width={512}
    height={512}
    class="w-full rounded"
  />

  <p>
    I love diving deep into the little details of the worlds I enjoy, and this
    Pok Ball chart is a perfect example of that! Its a vintage-style
    collection of Pok Balls from the Pokmon universe, each with its own unique
    design and purpose. From the classic Master Ball to the quirky Dream Ball,
    every one of them tells a story. I love breaking things down like
    thiswhether its gaming, tech, or random triviabecause theres always
    something new to learn!
  </p>

  <BlogPosts id="blog-section-index" count={4} />
</BaseLayout>
