---
import { Image } from 'astro:assets';

import BaseLayout from '../layouts/BaseLayout.astro';
import Label from '../components/Label.astro';
import BlogPosts from '../components/BlogPosts.astro';

import BlogBanner from '../assets/blog-banner.webp';
import { PROJECTS } from '../assets/logos/projects.ts';
import FeatherAd from '../components/FeatherAd.astro';
---

<style>
    a {
        @apply underline decoration-fuchsia-300 underline-offset-2;
    }
</style>

<BaseLayout>
    <main class="flex flex-col gap-y-8 leading-8">
        <h1 class="my-16 text-2xl lg:text-3xl">Ashish Khare</h1>

        <p>
            Hello! I'm a web designer and developer. I've build web-based
            tooling like <Label {...PROJECTS['tetra_data']} /> and <Label
                {...PROJECTS['folder_routing_data']}
            />. Recently, I've found an unknown attraction towards building web
            services in Go. I wish to onboard the Go and HTMX hype train.
        </p>

        <p>
            I am a final-year student pursuing a Bachelor of Technology in
            Computer Science and Engineering at <a href="https://knit.ac.in/"
                >Kamla Nehru Institute of Technology, Sultanpur</a
            >. My journey began during my school days when my computer teacher
            introduced me to algorithms and explained how computers can be
            helpful. I am proud to maintain a CGPA of <em>8.5</em>, even though
            I consider myself a mediocre student yet a fast learner.
        </p>

        <p>
            Do you like challenges? So do I. Here are a few for you to try like <Label
                {...PROJECTS['crack_the_nut_data']}
            /> and <Label {...PROJECTS['days_of_code_data']} />. Although the
            100-day challenge is still a work in progress, you can get a taste
            of what it will offer from the website.
        </p>

        <p>
            I adore python. Only the computer language! I've used it to do web
            scraping, building APIs and even for image processing. The <Label
                {...PROJECTS['bleach_db_data']}
            />, <Label {...PROJECTS['image_algos_data']} /> and <Label
                {...PROJECTS['bf_compiler_data']}
            /> are written in python. The simplicity of Python has captivated me
            for years. You can write Python as if you were reading English.
        </p>

        <FeatherAd />

        <p>
            Plus, you can use it for machine learning tasks and scientific
            computation. Isn't that ironic to hear? Hence, this is my next plan.
            Soon I'll be writing a paragraph about it as well. Here are few
            lines from the zen of python one could also apply in their daily
            lives.
        </p>

        <p>
            Do you like challenges? So do I. Here are a few for you to try like <Label
                {...PROJECTS['crack_the_nut_data']}
            /> and <Label {...PROJECTS['days_of_code_data']} />. Although the
            100-day challenge is still a work in progress, you can get a taste
            of what it will offer from the website.
        </p>

        <blockquote class="italic">
            If the implementation is hard to explain, it's a bad idea.
            <br />
            If the implementation is easy to explain, it may be a good idea.
        </blockquote>

        <p>
            I aim to write more, so I started working on this template. You can
            expect blogs from me now—maybe one each week. Share your thoughts on
            Twitter <a href="https://twitter.com/AshishK1331"
                ><i>@ashishk1331</i></a
            >. I'd love to hear from you!
        </p>

        <h2>Asides</h2>

        <p>
            I love listening to <i>Pink+White</i>. Rest I spent listening to <i
                >Chainsmokers</i
            >, <i>Kendrik Lamar</i>, <i>Metro Boomin</i>, <i>Weeknd</i> and <i
                >Kanye West</i
            >. My Spotify wrapped placed me among their top 0.1% listeners. Red
            heart!
        </p>

        <hr />

        <h2>Latest Blog Posts</h2>

        <Image
            src={BlogBanner}
            alt="Banner for blogs section."
            width={512}
            height={512}
            class="w-full self-center"
        />

        <BlogPosts count={4} />
    </main>
</BaseLayout>
