---
import { getCollection } from "astro:content";
import { format } from "date-fns";
import { Image } from "astro:assets";

interface Props {
	count?: number;
}

const isAtDEV = import.meta.env.DEV;
const { count: blogCount } = Astro.props;

let allBlogPosts = await getCollection('blog');
allBlogPosts = allBlogPosts.filter((post) => isAtDEV || !post.data.draft);
allBlogPosts = blogCount ? allBlogPosts.slice(0, blogCount) : allBlogPosts;
---

<ul class="space-y-12">
	{
		allBlogPosts.slice(0, 4).map((post) => (
			<li class="space-y-4">
				<a href={`/posts/${post.data.slug}`} class="w-full aspect-video overflow-hidden">
					<Image
						loading="lazy"
						src={post.data.cover}
						alt={post.data.coverAlt}
						width={512}
						height={512}
						class="w-full object-cover self-center"
					/>
				</a>
				<div class="text-sm space-x-4">
					<span class="text-neutral-500">
						{format(post.data.pubDate, "yyyy MM")}
					</span>
					<a href={"/posts/"+post.data.slug}>{post.data.title}</a>
				</div>
			</li>
		))
	}
</ul>