---
import { Image } from "astro:assets";
import FeatherAdImage from "../assets/featherAd.webp";
---

<div class="flex flex-col gap-4 my-12">
	<Image src={FeatherAdImage} alt="Advertisment for feather app." class="rounded-md" />
	<div class="flex flex-wrap justify-between items-center gap-4">
		<p>Organize Your Life, Conquer Your To-Dos</p>
		<a href="https://feather-website.vercel.app/" class="bg-[#865DFF] px-3 text-white rounded">Download</a>
	</div>
</div>