---
import { captilize } from "../utils/textUtils.js";

const LINKS = {
  information: [
    {
      title: "Work",
      href: "/work",
    },
    {
      title: "Projects",
      href: "/projects",
    },
    {
      title: "Contact",
      href: "/contact",
    },
  ],
  browse: [
    {
      title: "Blog",
      href: "/blog",
    },
    {
      title: "Twitter",
      href: "https://twitter.com/AshishK1331",
    },
  ],
};
---

<hr />
<footer
  class="text-sm grid grid-cols-2 gap-8 mt-auto mb-8 py-16 overflow-hidden"
>
  {
    Object.keys(LINKS).map((key) => (
      <ul class="space-y-4">
        <span class="font-medium">{captilize(key)}</span>
        {LINKS[key].map(({ title, href }) => (
          <li>
            <a href={href}>{title}</a>
          </li>
        ))}
      </ul>
    ))
  }
</footer>
