---
import { captilize } from "../utils/textUtils.js";

const LINKS = {
  browse: [
    {
      title: "Home",
      href: "/",
    },
    {
      title: "Blog",
      href: "/blog",
    },
    {
      title: "Work",
      href: "/work",
    },
    {
      title: "Projects",
      href: "/projects",
    },
  ],
  contact: [
    {
      title: "Email",
      href: "mailto: flangdev3000@gmail.com",
    },
    {
      title: "Github",
      href: "https://github.com/ashishk1331",
    },
    {
      title: "Kaggle",
      href: "https://www.kaggle.com/ashishk1331",
    },
    {
      title: "Leetcode",
      href: "https://leetcode.com/flangdev3000/",
    },
  ],
};
---

<hr class="border-primary/70" />
<footer class="mb-8 mt-auto grid grid-cols-2 gap-8 overflow-hidden py-16">
  {
    Object.keys(LINKS).map((key) => (
      <ul class="space-y-4">
        <span class="text-xs">{captilize(key)}</span>
        {LINKS[key].map(({ title, href }) => (
          <li class="group text-lg">
            <a
              href={href}
              class="decoration-primary decoration-wavy underline-offset-2 group-hover:underline"
            >
              {title}
            </a>
          </li>
        ))}
      </ul>
    ))
  }
</footer>
