---
import Sakura from "/public/favicon.svg";
---

<header>
  <a href="/" class="group" aria-label="go back to home page">
    <img
      src={Sakura.src}
      class="size-10 cursor-pointer lg:group-hover:animate-spin"
      alt="Logo"
    />
  </a>
</header>
