---
import Sakura from "/public/favicon.svg";
---

<header>
	<a href="/" class="group" aria-label="go back to home page">
		<img src={Sakura.src} class="size-6 lg:group-hover:animate-spin cursor-pointer" alt="Logo" />
	</a>
</header>