---
import '../styles/global.css';
import '../styles/article.css';

import BaseLayout from "../layouts/BaseLayout.astro";
import Header from '../components/Header.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout>
	<a href="/" class="text-sm border-b border-zinc-300 text-zinc-300">back</a>
	<h1>{frontmatter.title}</h1>
	<article class="flex flex-col gap-y-4 text-neutral-300">
		<slot />
	</article>
</BaseLayout>